#about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0;
    /* background-image: url(../IMAGES/aboutback.svg);  */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    min-height: 700px;
    overflow-x: hidden;
}

.about-box{
    width: 100%;
    margin: 0px 40px 0 40px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    text-align: center;

}

.about{
    width: 60%;
}

.about .about-heading {
    font-size: 30px;
    font-weight: 700;
    margin: 25px auto;
    padding: 10px;
    border-bottom: 1px solid pink;
    width: 30%;
    text-align: center;
    
}

.about .about-content{
    padding: 15px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 20px 0 0 40px;
    line-height: 1.5em;
}

.about-box2{
    height: 70%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.about-box2 .slideshow-container img{
    height: 200px;
    
}




@media screen and (max-width:768px){

    #about{
        min-height: 800px;
        /* background-image: url(../IMAGES/aboutback-mob.svg); */
        background-size: cover;
        background-repeat: no-repeat;
    }
    .about-box{
        width: 100%;
        margin: 70px 40px 0 40px;
        padding: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    
    }
    .about{
        width: 100%;
    }
    
    .about .about-heading {
        font-size: 25px;
        margin: 25px auto;
        padding: 10px;
        border-bottom: 1px solid pink;
        width: 50%;
        text-align: center;
        
    }

    .about .about-content{
        padding: 15px;
        font-size: 14px;
        text-align: justify;
        margin: 10px 10px;
        line-height: 1.5em;
    }
    .about-box2{
        height: 70%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .about-box2 .slideshow-container img{
        height: 140px;
        
    }
}


@media screen and (max-width:450px){
    .about-box2 .slideshow-container img{
        height: 150px;
       
        
    }
}


@media screen and (max-width:340px){

    #about{
        height: auto;
    }
    .about .about-heading {
        font-size: 20px;
        font-weight: 700;
        margin: 0px auto 25px auto;
        padding: 10px;
        border-bottom: 1px solid pink;
        width: 60%;
        text-align: center;
        
    }
}