@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif; 
}

.container{
    max-width: 1920px;
    margin: 0 auto;
}


#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /*change if the mask should have another color then white */
    z-index:9999;
}

#status {
    width:200px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    background-image:url(../IMAGES/LOADER/100.gif); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    margin:-100px 0 0 -100px;
}






@keyframes fade-in-left {
    0%      { transform: translate(-25%,0); opacity:0; }
    100%    { transform: translate(0,0);   opacity:1; }
  }
  .transitionSlideIn {
    opacity: 1;
    animation: fade-in-left 1s 1;
  }


  @keyframes fade-in-right {
    0%      { transform: translate(25%,0); opacity:0; }
    100%    { transform: translate(0,0);   opacity:1; }
  }
  .transitionSlideInright {
    opacity: 1;
    animation: fade-in-right 1s 1;
  }
