#careers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0;
}
.careers-heading{
    font-size: 30px;
    font-weight: 700;
    margin: 100px 10px 10px 10px;
    padding: 10px;
    border-bottom: 1px solid pink;
}

.intro{
    width: 70%;
    margin: 0 auto;
    padding: 10px;
    line-height: 1.5em;
}

.dept-box{
    margin: 10px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
   /* background-image: url(../IMAGES/BACKGROUD/career.png);
    background-attachment: fixed;*/
}

.dept-card{
    
    margin: 10px 20px;
    margin-top: 15px;
    height: 300px;
    width: 200px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    overflow: hidden;
    background-color: white;
    background-image: url(../IMAGES/BACKGROUD/career.png); 
    
    background-size: cover;
}

   

.dept-card .card-side1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    transition: 0.5s ease-in-out 0s;
}
.dept-card .card-side1 img{
    height: 130px;
    padding: 20px;
    transition: .5s ease-in-out 0s;
}
.dept-card:hover .card-side1 img{
    height: 100px;
    padding: 10px;
}


.dept-card .card-side2{
    padding: 15px 5px;
    height: 0%;
    text-align: center;
    transition: 0.5s ease-in-out 0s;
}

.dept-card:hover .card-side2{
    height: 60%;   
}

.dept-card:hover .card-side1{
    height: 40%;
}




@media screen and (max-width:768px){

    .careers-heading{
        font-size: 25px;
       
    }

    .intro{
        width: 80%;
    }



    .dept-card{
    
        margin: 10px 5px;
        height: 300px;
        width: 180px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        overflow: hidden;
        
    }

    .dept-card:hover .card-side1 img{
        height: 100px;

    }
    .dept-card:hover .card-side2{
        height: 60%;   
    }
    
    .dept-card:hover .card-side1{
        height: 40%;
    }
}

@media screen and (max-width:370px){
    .dept-card{
    
        margin: 10px 5px;
        height: 200px;
        width: 150px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        overflow: hidden;
        
    }
    
    .dept-card .card-side1 img{
        height: 90px;
    }

    .dept-card:hover .card-side1 img{
        height: 60px;
    

    }

    .dept-card:hover .card-side2{
        height: 70%;   
    }
    
    .dept-card:hover .card-side1{
        height: 30%;
    }

    .dept-card .card-side2{
        font-size: 13px;
    }
    
    
}

@media screen and (max-width:340px){
    .dept-card{
    
        margin: 10px 5px;
        height: 300px;
        width: 200px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        overflow: hidden;
        
    }

    .dept-card:hover .card-side1 img{
       
        height: 110px;
    }

    .dept-card:hover .card-side2{
        height: 60%;   
    }
    
    .dept-card:hover .card-side1{
        
        height: 40%;
    }

    .dept-card .card-side2{
        font-size: 13px;
    }
    
}


