#cars{
    min-height: 100vh;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-x: hidden;
}


.cars-heading{
    padding: 10px;
    margin-top: 80px;
    font-size: 35px;
    text-align: left;
    color: rgb(23, 63, 53);
    font-weight: 600;
}

.cars-box{
    margin: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}



@media screen and (max-width:340px){
    .cars-heading{
        font-size: 30px;
        font-weight: 700;
        padding: 10px;
        margin-top: 100px;
    }
}