.secondaryButton{
    padding: 10px 0px;
    width: 150px;
    font-family: 'Montserrat', 'sans-seriff';
    font-size: 14px;
    border-radius: 30px;
    outline: none;
    color: #fff;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    transition: .2s ease-in-out 0s;
    font-weight: 500;
}

.secondaryButton:hover{
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(0, 67, 129);
    color: #000;
    cursor: pointer;
    background-color: #fff;

} 

.footer-image{
    /* height: 150px; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    /* overflow-x: hidden;
    overflow-y: hidden; */
    background-image: url(../IMAGES/HOME/footer_3.png);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 170px;    
   
    display: none;

}
.footer-image img{
    /* margin: 0;
    padding: 0;
    height: auto; */


   
}

.footer{

    height: 600px;
    /* font-size: 12px; */
    margin: 0 auto;
    padding: 10px;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* height: 5vh; */
    text-align: center;
    /* color: rgb(255, 255, 255); */
    background-color: rgb(10, 10, 10);

}

.footer a{
    color: rgb(185, 185, 185)!important;
}

.footer .copy-rights{
    margin: 20px 0;
    padding: 10px 0;
}

.footer .copy-rights .night-foot{
    font-size: .8em;
    position: absolute;
    left: 30px;
    color: rgb(161, 161, 161);
}

.footer .copy-rights .terms a{
    text-decoration: none;
}

.footer .copy-rights .terms{
    font-size: .8em;
    position: absolute;
    right: 30px;
    color: rgb(161, 161, 161);
}


.footer .copy-rights .dark{
    color: rgb(255, 255, 255);
}


.footer .content{
     margin-top: 55px;
    width: 100%;
      /* height: 30vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 1px solid red; */

   }

   .footer .about-cont{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    margin-left: 20px;
    /* padding: 0 20px; */
    /* background-color: rgb(146, 143, 143); */
}

.footer .content .about-cont .logo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.footer .content .about-cont .logo img{
   height: 60px;
}


 

.footer .about-cont .logo .footer-about{
    text-align: left;
    color: rgb(202, 202, 202);
    font-size: .8em;
    line-height: 1.5em;
    width: 80%;
}

.content .about-cont .logo .underline{
    height: 2px;
    width: 40px;
    background-color: darkgray;
    margin: 0 0 10px 0;
}


.content .about-cont .address-box{
    width: 100%;
    margin-top: 40px;
    text-align: left;
    /* text-transform: uppercase; */
}


.footer .content .about-cont .address-box .footer-heading{
       font-size: 1em;
       color: rgb(214, 214, 214);
       font-weight: 700;
       text-align: left;
}

.footer .content .about-cont .address-box .underline{
    height: 2px;
    width: 40px;
    background-color: darkgray;
    margin: 10px 0;
}
   

.footer .content .about-cont .address-box .address{
    font-size: .8em;
    line-height: 1.5em;
    color: rgb(202, 202, 202);
    /* font-weight: 700; */
    margin-bottom: 10px;
}

.footer .content .about-cont .address-box .view-map{
    font-size: .8em;
    line-height: 1.5em;
    color: rgb(202, 202, 202);
    text-decoration: none;
}



.footer .cont-box{
       /* margin: 0 10px; */
       height: 100%;
       /* width: 33.3%; */
       /* background-color: black; */
   }

   .footer .about-cont{
    width: 30%;
   }

   .footer .link-cont{
    width: 40%;
   }

   .footer .subscribe-cont{
    width: 30%;
   }

   

   
   .footer .about-cont .footer-social-links{
    width: 100%;
    margin: 30px 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
   }

   .footer .about-cont .footer-social-links li{
    margin-right: 20px;
   }

   .footer .about-cont .footer-social-links li a .fa{
    font-size: 1.5em!important;
   }


   .footer .link-cont{
       display: flex;
       align-items: flex-start;
       justify-content: flex-start;
       height: 50%;
   }

   .footer .link-cont .two , .link-cont .three{
    height: 100%;
    /* display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center; */
    padding-left: 80px;
   }

   .footer .two .heading p, .footer .three .heading p{
    font-size: 1em;
    color: rgb(214, 214, 214);
    font-weight: 700;
    text-align: left;
   }

   .footer .two .underline , .footer .three .underline{
    height: 2px;
    width: 40px;
    background-color: darkgray;
    margin: 10px 0;
   }

   .footer .two ul, .footer .three ul{
       list-style: none;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       justify-content: center;
       /* margin: 20px 0 20px 80px ; */
   }

   .footer .two ul li , .footer .three ul li{
       margin: 3px 0;
       
   }

   .footer .two a, .footer .three a{
    text-transform: uppercase;
    font-size: .8em;
    text-decoration: none;
    color: rgb(255, 255, 255);
   }


   .footer .logo img{
       height: 70px;
   }

   .footer .subscribe-cont{
       height: 50%;
       padding-left: 10%;
       display: flex;
       flex-direction: column;
       align-items: flex-start;
       justify-content: flex-start;
   }

   .footer  .subscribe-cont .btns {
    margin-bottom: 40px;
   }

   .footer .subscribe-cont .btns .heading{
    font-size: 1em;
    color: rgb(214, 214, 214);
    font-weight: 700;
    text-align: left;
   }

   .footer .subscribe-cont .btns .underline{
    height: 2px;
    width: 40px;
    background-color: darkgray;
    margin: 10px 0;
   }

   .footer .subscribe-cont .btns button{
   margin-top: 10px;
   }


 
@media screen and (max-width:450px) {
    .footer{
        height: auto;

    }

    .footer .content{
        flex-direction: column-reverse;
    }

    .footer .about-cont{
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        
       }

    .footer .about-cont .logo{
        margin-top: 20px;
       order: 2;
    }

    
    .footer .about-cont .footer-social-links{
        order: 1;
        align-items: center;
        justify-content: center;
    }

    
    .footer .about-cont .address-box{
        order: 3;
    }


    .footer .two .heading p, .footer .three .heading p{
        font-size: .8em;
       }

    .footer .content .about-cont .address-box .footer-heading{
        font-size: .8em;
    
    }

    
    .footer .subscribe-cont .btns .heading{
    font-size: .8em;
   }

    .footer .content .about-cont .address-box .address{
        font-size: .65em;
    }
    
    .footer .content .about-cont .address-box .view-map{
        font-size: .65em;
    }
    
    
    
    .footer .link-cont{
        width: 100%;
       }
    
    .footer .subscribe-cont{
        width: 100%;
       }


    .footer .link-cont .two {
        height: 100%;
        /* display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center; */
        padding-left: 10px;
       }   

    .footer .link-cont .three{
           /* padding-left: 30px; */
       }


    .footer .two a, .footer .three a{
        font-size: .65em;
        /* margin: 20px 0 20px 80px ; */
    }


    .footer .copy-rights{
           padding: 0 0;
           display: flex;
           flex-direction: column-reverse;
       }
    

    .footer .copy-rights .terms{
        font-size: .65em;
        position: unset;
        right: 20px;
        color: rgb(161, 161, 161);
        padding: 10px 0;
    }

    .footer .copy-rights .night-foot{
        font-size: .65em;
        position: unset;
        left: 20px;
        color: rgb(161, 161, 161);
    }
       
}