@media screen and (max-width: 450px){
    .goto-top-button{
        position: fixed;
        bottom: 30px;
        right: 15px;
        border-radius: 40px;
        outline: none;
        border: none;
       
        background-color: rgba(0, 0, 0, 0);
        
    }

    .goto-top-link{
        display: none;
    }

    .goto-top-img{
        height: 40px;
        
        
        /* padding: 10px; */
    }
    
    .visible{
        display: block;
        transition: 1s ease-in-out 0s;
        /* transform : translateX(0); */
    }

}

