#home{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0;
    background-image: url(../IMAGES/HOME/Asset\ 4.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;  
    /* background-size: auto; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}


.head{
    height: 100vh;
}
.box-1{
    left: 50px;
    top: 100px;
    position: absolute;
    z-index: 10;
    font-weight: 700;
    
}

@media screen and (max-width: 550px){
    #home{
        background-image: url(../IMAGES/HOME/Asset\ 2.png);
    }
}