.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
    height: 12vh;
    position: fixed;
    top: 0;
    
    width: 100%;
    z-index: 99;
    transition: 0.5s ease-in-out 0s;
}


.dropdown-arrow{
    height: .8em;
    padding: 0 0 0 5px;
}

.dropbtn {
    background-color:rgba(0, 0, 0, 0);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: "Montserrat";
}
  
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    padding: 15px 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   /* z-index: 99; */
}
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
  
/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */

/* .animate-nav{
    font-size: 14px;
    height: 10vh;
} */

.navbar-active{
    color: yellow!important;
}



.version{
    display: none;
}



.logo a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 11;
    
}


.black-logo-VR{
    height: 80px;
    display: block;
    z-index: 11;
}
.white-logo-VR{
    height: 80px;
    display: none;
    z-index: 11;
}

.display-white-logo{
    display: block;
}

.display-black-logo{
    display: none;
}


.black{
    background-color: rgb(0, 0, 0);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.logo-txt {
    padding: 0 20px;
    text-decoration: none;
    color: black;

}

.logo-txt p{
    padding: 0 15px;

}

.black-logo{
    color: white;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 15px;
    margin: 0 20px;
    padding: 0px;

}



.navbar ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0px 0px;
    padding: 10px 30px;
}

.unset-values{
    padding: unset!important;
    margin: unset!important;
    
}

.one-nav{
    z-index: 100!important;
}
.two-nav{
    z-index: 99!important;
}

.unset-values a{
    color: #000!important;
    font-size: .6em!important;
}
/* .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  } */

.navbar ul li{
    padding: 10px;
    margin: 5px 3px;
}


.navbar ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.burger{
    padding: 20px;
    display: none;
    z-index: 10;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1196px){
    .navbar ul li a{
        
    font-size: 14px;
    }
    .navbar ul li{
        padding: 10px 5;
        margin: 5px 0;
       
    }
    
}


@media screen and (max-width:980px){
    body{
        overflow-x: hidden;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 100%;
        padding: 10px 0;
        font-size: 14px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      
    }
    .dropdown-content a {
        color: black;
        padding: 10px 0;
        text-decoration: none;
        display: block;
    }
    
    .animate-nav{
        font-size: unset;
        height: unset;
    }

    .logo{
   
        font-size: 15px;
        margin: 0 20px;
        padding: 0px;
    }

    .black-logo-VR{
        height: 60px;
    }
    .white-logo-VR{
        height: 60px;     
    }

    .logo-txt {
        padding: 0 5px;
        
    }

    .logo-txt p{
        padding: 0 8px;
        font-size: 12px;
    
    }

    .navbar ul {
        position: absolute;
        right: 0px;
        height: 100vh;
        top: 0vh;
        display: flex;
        justify-content: center;
        background-color:black;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transition: transform 0.5s ease-in;
    }

    .nav-links{
        transform: translateX(100%);
    }

    .navbar ul li {
        opacity: 0;
        padding: 10px 0;
    }
    .burger{
        display: block;
    }
    .dropbtn{
        font-size: 14px;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px)
    }
}

@keyframes navLinkFade2{
    from{
        opacity: 1;
        transform: translateX(0px);
    }
    to{
        opacity: 0;
        transform: translateX(50px)
    }
}


.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

@media screen and (max-width:450px){

    .version{
        display: block;
        position: absolute;
        bottom: 2vh;
        color: #fff;
        font-size: .6em;
    }
}

@media screen and (max-width:430px){
.navbar{
    height: 10vh;
}
}





@media screen and (max-width:325px){
    .logo-txt p{
        padding: 0 4px;
        font-size: 9px;
    
    }
}

