.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
    height: 12vh;
    position: fixed;
    top: 0;
    
    width: 100%;
    z-index: 99;
    transition: 0.5s ease-in-out 0s;
}


.dropdown{

}

.navbar-active{
    color: yellow!important;
}


.dropdown-content {
    display: none;
    position: absolute;
    /* height: 20px; */
    padding: 15px 0;
    font-size: 14px;
    /* background-color: #f9f9f9; */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }








.logo a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
}


.black-logo-VR{
    height: 110px;
    display: block;
}
.white-logo-VR{
    height: 110px;
    display: none;
}

.display-white-logo{
    display: block;
}

.display-black-logo{
    display: none;
}


.black{
    background-color: rgb(0, 0, 0);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.logo-txt {
    padding: 20px;
    text-decoration: none;
    color: black;

}

.logo-txt p{
    padding: 0 15px;

}

.black-logo{
    color: white;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-size: 15px;
    margin: 0 20px;
    padding: 0 20px;

}



.navbar ul{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0px 0px;
    padding: 10px 30px;
}

.navbar ul li{
    padding: 10px;
    margin: 5px;
   
}


.navbar ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.burger{
    padding: 20px;
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}



@media screen and (max-width:1196px){
    body{
        overflow-x: hidden;
    }

    .logo{
   
        font-size: 15px;
        margin: 0 20px;
        padding: 0 20px;
    }

    .black-logo-VR{
        height: 80px;
    }
    .white-logo-VR{
        height: 80px;     
    }

    .logo-txt {
        padding: 5px;
        
    }

    .logo-txt p{
        padding: 0 0px;
        font-size: 12px;
    
    }

    .navbar ul {
        position: absolute;
        right: 0px;
        height: 88.5vh;
        top: 11.5vh;
        display: flex;
        justify-content: flex-start;
        background-color:black;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transition: transform 0.5s ease-in;
    }

    .nav-links{
        transform: translateX(100%);
    }

    .navbar ul li {
        opacity: 0;
        padding: 10px 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px)
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}




