#shop{
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0;
    /* background-image: url(../IMAGES/aboutback.svg);  */
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    min-height: 100vh;
  overflow-x: hidden;
}

.shop-box{
  width: 100%;
  margin: 0px 40px 0 40px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  text-align: center;

}
.shop-btn{
  display: flex;
  margin-top: 40px;
}


.shop{
  width: 50%;
}

.shop .shop-heading {
  font-size: 30px;
  font-weight: 700;
  margin: 10px auto;
  padding: 10px;
  /* border-bottom: 1px solid pink; */
  width: 80%;
  text-align: left;
  
  
}

.shop-now{
  margin-right: 10px;
}

.shop .shop-content{
  padding: 15px;
  font-size: 20px;
  font-weight: 500;
  text-align: left;
  margin: 0px 0 0 60px;
  line-height: 1.5em;
}

.shop-box2{
  height: 70%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.shop-box2 .slideshow-container img{
  height: 350px;
  
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot-shop {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

.mySlides-shop img{
  height: 100px;
}


.mob-button{
  display: none;
}






@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}




@media screen and (max-width:768px){

  #shop{
      height: auto;
      /* background-image: url(../IMAGES/aboutback-mob.svg); */
      background-size: cover;
      background-repeat: no-repeat;
  }
  .shop-box{
      width: 100%;
      margin: 110px 40px 0 40px;
      padding: 20px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      text-align: center;
  
  }
  .shop{
      width: 100%;
  }

  .lap-button{
    display: none;
  }

  .mob-button{
    display: block;
  }

  
  .shop .shop-heading {
      font-size: 25px;
      margin: 25px auto;
      padding: 10px;
      border-bottom: 1px solid pink;
      width: 95%;
      text-align: center;
      
  }

  .shop .shop-content{
      padding: 15px;
      font-size: 14px;
      text-align: justify;
      margin: 10px 10px;
      line-height: 1.5em;
  }

  .shop-content p{
    font-size: 18px;
  }
  .shop-box2{
      height: 70%;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
  }

  .shop-box2 .slideshow-container img{
      height: 140px;
      
  }
  
}


@media screen and (max-width:450px){
  .shop-box2 .slideshow-container img{
      height: 200px;
     
      
  }
  .shop-box{
    width: 100%;
    margin: 50px 40px 0 40px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

  .shop-content p{
    font-size: 18px;
    text-align: left;
  }


}


@media screen and (max-width:340px){

  #shop{
      height: auto;
  }
  .shop .shop-heading {
      font-size: 20px;
      font-weight: 700;
      margin: 150px auto 25px auto;
      padding: 10px;
      border-bottom: 1px solid pink;
      width: 90%;
      text-align: center;
      
  }
  .shop-box2 .slideshow-container img{
    height: 130px;
   
    
}
}











/* #shop{
    margin: 50px 0;
    height: 720px;
   background-image: url(../IMAGES/HOME/Shop\ v6.png);
   background-size: cover;
    width: 100%;
    background-color: #161616;
   
 
    background-repeat: no-repeat;
} */
/* 
.shop-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 0 40px;
}
.head{
  margin: 90px 0px 0 0px;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.head .head-1{
  height: 30px;
  margin-right: 60%;
}
.head .head-2{
  margin: 10px;
  height: 60px;
}


.cent{
display: flex;
align-items: center;
justify-content: center;
margin: 0 auto;

}

.cent img{
  height: 300px;
 
}



.bot{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bot .bot-1{
  height: 2px;
  margin: 30px 0 0 0 ;
  width: 30%;
}

.bot .bot-2{
  margin: 20px;
  height: 30px;
 
} */
/*


#shop button:hover {
    animation: border-flicker 2s linear forwards;
  }
  
  #shop button {
    margin-top: 72vh;
    margin-left: 65%;
  top: 50%;
  left: 50%;
  text-align: center;
  border-radius: 8px;
  border: 3px solid rgb(0, 40, 70);
  cursor: pointer;
  outline:none;
   
    font-weight: 300;
    font-size: 20px;
    background-color: black;
    padding: 15px 20px;
    color: rgba(120, 0, 50, .5);
  }
  
  #shop button:hover h1 {
    animation: text-flicker 2s linear forwards;
  }
  
  #shop button:hover .first {
    animation: letter-flicker 3s linear infinite;
  }
  
  @keyframes text-flicker {
    2% { 
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    3% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    6% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    9% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    11% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    14% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    18% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    32% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    33% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    37% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    39% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    43% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    46% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    47% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    100% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
  }
  
  @keyframes letter-flicker {
      2% { 
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    3% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    6% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    9% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    11% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    14% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    18% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    32% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    33% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    37% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    39% {
      color: rgba(120, 0, 50, .5);
      text-shadow: none;
    }
    40% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
    100% {
      color: rgb(230, 0, 120);
      text-shadow: 0 0 15px rgb(230, 0, 120);
    }
  }
  
  @keyframes border-flicker {
    2% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    3% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    5% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    6% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    7% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    9% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    13% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    16% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    18% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    22% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    34% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    36% {
      border: 3px solid rgb(0, 40, 70);
      box-shadow: none;
    }
    54% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
    100% {
      border: 3px solid rgb(0, 180, 230);
      box-shadow: 0 0 15px -1px rgb(0, 180, 230), 
      0 0 12px -1px rgb(0, 180, 230) inset;
    }
  }



*/

  /* @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
 

.neon {
  width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
    position: relative;
    margin: 20px 0 0 0 ; 
    right: 0;
}

  #btn{
      width: 240px;
    background: #000000;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
 
      display: inline-block;
      padding: 25px 30px;
      text-align: center;
     
      color: #efefef;
      text-decoration: none;
      text-transform: uppercase;
      transition: 0.5s;
      letter-spacing: 4px;
      overflow: hidden;
 

  }
  #btn:hover{
      background: #efefef;
      color: #050801;
      box-shadow: 0 0 5px #efefef,
                  0 0 25px #efefef,
                  0 0 50px #efefef,
                  0 0 200px #efefef;
       -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
  }
  #btn:nth-child(1){
      filter: hue-rotate(270deg);
  }
  #btn:nth-child(2){
      filter: hue-rotate(110deg);
  }
  #btn span{
      position: absolute;
      display: block;
  }
  #btn span:nth-child(1){
      top: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg,transparent,#efefef);
      animation: animate1 1s linear infinite;
  }
  @keyframes animate1{
      0%{
          left: -100%;
      }
      50%,100%{
          left: 100%;
      }
  }
  #btn span:nth-child(2){
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg,transparent,#efefef);
      animation: animate2 1s linear infinite;
      animation-delay: 0.25s;
  }
  @keyframes animate2{
      0%{
          top: -100%;
      }
      50%,100%{
          top: 100%;
      }
  }
  #btn span:nth-child(3){
      bottom: 0;
      right: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg,transparent,#efefef);
      animation: animate3 1s linear infinite;
      animation-delay: 0.50s;
  }
  @keyframes animate3{
      0%{
          right: -100%;
      }
      50%,100%{
          right: 100%;
      }
  }
  
  
  #btn span:nth-child(4){
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg,transparent,#efefef);
      animation: animate4 1s linear infinite;
      animation-delay: 0.75s;
  }
  @keyframes animate4{
      0%{
          bottom: -100%;
      }
      50%,100%{
          bottom: 100%;
      }
  }







  




@media screen and (max-width:450px){
    #shop{
       background-image: url(../IMAGES/HOME/Shop\ Mob.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
    }

    .shop-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      margin: 0px 0px 0 0px;
    }
    .head{
      margin: 90px 0px 0 0px;
      height: 50px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
    
    .head .head-1{
      height: 15px;
      margin-right: 0%;
    }
    
    .head .head-2{
      margin: 0px;
      height: 30px;
    }
    
    
    .cent{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15vh auto 0 auto;
    
    }
    
    .cent img{
      height: 200px

    }
    
    
    
    .bot{
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    
    .bot .bot-1{
      height: 2px;
      width: 70%;
      margin: 30px 0 0 0 ;
    }
    
    .bot .bot-2{
      margin: 20px;
      height: 30px
    }

    .neon {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
     
  }
  
    #btn{
        width: 240px;
      background: #000000;
      font-family: 'Raleway', sans-serif;
      font-weight: bold;
   
        display: inline-block;
        padding: 25px 30px;
        text-align: center;
       
        color: #efefef;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.5s;
        letter-spacing: 4px;
        overflow: hidden;
}

} */
