.socialbox ul{
    text-align: center;
    justify-content: center;
}

.socialbox ul li a img{
    height: 45px;
    margin: auto auto;
}


.socialbox ul li {
    height: 70px;
    width: 70px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 20px;
    margin: 10px 10px;
    transition: .2s ease-in-out 0s;

}

.socialbox ul li:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}