#sponsors{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 0;
    background-color: rgb(255, 255, 255);
  
}

.sponsors-heading{
    font-size: 30px;
    font-weight: 700;
    padding: 20px;
    margin: 110px 10px 10px 10px;
    border-bottom: 1px solid pink;
}

.sponsor-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 30px 60px 40px 60px;
    align-items: center;
    justify-content: center;
}


.sponsor-box .sponsor-1 a img{
    height: 75px;
    margin: 10px;
    padding: 0 5px;
   
}

.sponsor-box2{
    width: 60%;
    line-height: 1.5em;
    font-size: 20px;
}

.sponsor-buttons{
    margin: 30px 5px;
    padding: 5px;
}

.sponsor-buttons button{
    margin: 0 10px;
  
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: rgb(32, 201, 173);
    cursor: pointer;
    transition: .3s ease-in-out 0s;
}

.sponsor-buttons button:hover{
    color: white;
    background-color: rgb(3, 44, 46);
}

.sponsor-buttons .btn1{
    padding: 15px 10px;
}

.sponsor-buttons .btn2{
    padding: 15px 55px;
}






@media screen and (max-width:768px){
    .sponsors-heading{
        font-size: 25px;
        padding: 20px;
        margin: 110px 10px 10px 10px;
        border-bottom: 1px solid pink;
    }
    
    .sponsor-box{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        margin: 30px 10px;
        padding: 5px;
        align-items: center;
        justify-content: center;
    }
    
    
    .sponsor-box .sponsor-1 a img{
        height: 60px;
        margin: 5px;
        padding: 0 5px;
       
    }
    .sponsor-box2{
        width: 70%;
        line-height: 1.5em;
        font-size: 18px;
    }

    .sponsor-buttons .btn1{
        padding: 15px 10px;
    }
    
    .sponsor-buttons .btn2{
        padding: 15px 30px;
    }
}