#team{
    
    /* display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; */
    top: 0;
    background-image: url(../IMAGES//team-back.svg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    /* background-attachment: fixed; */
}

.team-heading-box{
    min-height: 100vh;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.team-heading-box .team-heading{
    width: 50%;

}

.team-heading-box .team-heading p{
    font-size: 35px;
    color: rgb(23, 63, 53);
    font-weight: 600;
}

.team-heading-box .team-heading .info-team p{
    margin-top: 30px;
    font-weight: 400;
    font-size: 20px;
    margin-left: 50px;
    text-align: left;
}

.team-heading-box .team-image{
    overflow-x: hidden;
    width: 50%;
}

.team-heading-box .team-image img{
    margin-top: 100px;
    height: 400px;
    overflow-x: hidden;
}


@media screen and (max-width:768px){

    #team{
    
        /* display: flex;
        align-items: center;
        justify-content: center;
        text-align: center; */
        top: 0;
        background-image: unset;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 100px;
        /* background-attachment: fixed; */
    }
    
    .team-heading-box{
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .team-heading-box .team-heading{
        width: 95%;
    
    }
    
    .team-heading-box .team-heading p{
        font-size: 30px;
        color: rgb(23, 63, 53);
        font-weight: 600;
    }
    
    .team-heading-box .team-heading .info-team p{
        margin-top: 30px;
        font-weight: 400;
        font-size: 18px;
        margin-left: 50px;
        text-align: left;
    }
    
    .team-heading-box .team-image{
        width: 95%;
        overflow-x: hidden;
    }
    
    .team-heading-box .team-image img{
        margin-top: 50px;
        height: 250px;
    }
    
    
}

@media screen and (max-width:340px){

    #team{
    
        /* display: flex;
        align-items: center;
        justify-content: center;
        text-align: center; */
        top: 0;
        background-image: unset;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 60px;
        /* background-attachment: fixed; */
    }

    .team-heading-box{
        margin-top: 50px;
    }

    .team-heading-box .team-heading{
        margin-top: 100px;
    }
    .team-heading-box .team-image img{
        margin-top: 50px;
        height: 200px;
    }
}