:root {
  --h1: ;
  --h2: ;
  --h3: ;
  --h4: ;
  --h5: ;
  --h6: ;

  --body: ;

  --subHeading1: ;
  --subHeading2: ;

  --primaryColorDarkGrey: #1a1a1a;
  --secondaryColor: #2a2a2a;

  --offWhiteColor: rgb(180, 180, 180);

  --fontprimarycoloroffWhite: rgb(185, 185, 185);
}

body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(250, 248, 250);
}

.main-container, .footer-container {
  max-width: 1924px;
}

.page-link{
  
}

a{
  text-decoration: none;
}

.no-click {
  display: none;
}

.end-path {
  width: 100%;
  height: 100%;
  transform: translateY(-10px);
  max-width: 1924px;
}

.end-top {
  // position: absolute;
  // position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  // width: 100%;
  // height: 100%;

  .end-path-top {
    width: 100%;
    height: 100%;
    transform: translateY(10px);
    max-width: 1924px
  }
}

@import "./section1.scss"; //Home Page
@import "./section2.scss"; //About Velocita
@import "./section3.scss"; //Maya Series
@import "./section4-1.scss"; //Turbocharged Team
@import "./section4.scss"; //Student Careers
@import "./section5.scss"; //Research and Development
@import "./section6.scss"; //Partner Programs
@import "./section7.scss"; //Partners
@import "./section8.scss"; //Shop
@import "./section9.scss"; //Podcast
@import "./section10.scss"; //Events
