// Home Page |  Section Ten

#section-ten {

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;



  .main-container {
    background-color: #1a1a1a;
    width: 100%;
    padding: 100px 0 150px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .left {
      width: 50%;
      padding-left: 60px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      position: relative;
      color: rgb(180, 180, 180);

      .block {
        position: absolute;
        height: 250px;
        width: 5px;
        background-color: tomato;
        left: 0;
      }
      .section-title {
        margin-top: 10px;
        font-size: 3.4rem;

        @media screen and (max-width: 420px) {
          padding-right: 30px;
          font-size: 2.8rem;
        }
        @media screen and (max-width: 390px) {
          font-size: 2.4rem;
        }
        @media screen and (max-width: 360px) {
          font-size: 2rem;
        }
      }

      .sub-title {
        margin-top: 10px;
        font-size: 1.2rem;
      }

      .sub-title-info {
        margin-top: 20px;
        font-size: 1rem;
        line-height: 1.4rem;
        padding-right: 60px;

        @media screen and (max-width: 420px) {
          padding-right: 30px;
          font-size: 0.95rem;
          margin-top: 30px;
          padding-right: 30px;
        }

        @media screen and (max-width: 390px) {
          font-size: 0.85rem;
        }
        @media screen and (max-width: 360px) {
          font-size: 0.75rem;
        }
      }
      .sub-info {
        z-index: 1;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;
        color: rgb(180, 180, 180);

        .arrow {
          color: tomato;
          margin-left: 10px;
        }
      }
    }
    .right {
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      .event-box {
        position: relative;
        z-index: 250px;
        height: 275px;
        width: 400px;
        // border-radius: 20px;
        // background: #ffffff;
        // box-shadow: 20px 20px 60px #d9d9d9, 
        //             -20px -20px 60px #ffffff;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: #2a2a2a;
        color: rgb(180, 180, 180);

        .event-image {
          height: 60%;
   
        }

        .event-info {
          height: 40%;
          padding: 15px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          @media screen and (max-width: 360px) {
            padding: 0 30px;
          }
          @media screen and (max-width: 350px) {
            padding: 0 15px;
          }

          .section-title {
            text-align: center;
            font-size: 1.3rem;

            @media screen and (max-width: 420px) {
              font-size: 1.1rem;
            }
            @media screen and (max-width: 390px) {
              font-size: 1rem;
            }
            @media screen and (max-width: 360px) {
              font-size: 1rem;
            }
          }

          .section-subtitle {
            padding-left: 30px;
            font-size: 0.9rem;

            @media screen and (max-width: 390px) {
              font-size: 0.75rem;
              padding-left: 20px;
            }
            @media screen and (max-width: 360px) {
              font-size: 0.7rem;
              padding-left: 20px;
            }
          }

          .arrow {
            font-size: 2.8rem;
            padding: 8px;

            margin-left: 10px;
            border: 0.15rem solid tomato;
            border-radius: 100%;
          }
        }

        @media screen and (max-width: 420px) {
          width: 90%;
          height: 260px;
          padding: 0 0px;
        }
        @media screen and (max-width: 390px) {
          height: 240px;
        }
        @media screen and (max-width: 360px) {
          height: 230px;
        }
      }

      .clothes {
        height: 175px;

        @media screen and (max-width: 420px) {
          height: 120px;
          margin-top: 70px;
        }
        @media screen and (max-width: 390px) {
          height: 105px;
        }
        @media screen and (max-width: 360px) {
          height: 90px;
        }
      }

      .title {
        font-size: 4rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #section-ten {
    .main-container {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .left {
        width: 100%;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .explore-title {
          margin-bottom: 10px;
          font-size: 1.4rem;
          text-transform: capitalize;
          letter-spacing: 0.4rem;
          color: tomato;
        }

        .block {
          position: absolute;
          height: 250px;
          width: 5px;
          background-color: tomato;
          left: 0;
        }
        .title {
          font-size: 3.4rem;
          z-index: 1;
        }

        .sub-title {
          margin-top: 10px;
          font-size: 1.2rem;
        }

        .sub-info {
          z-index: 1;
          margin-top: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: capitalize;

          .arrow {
            color: tomato;
            margin-left: 10px;
          }
        }
      }
      .right {
        width: 100%;
        padding: 75px 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
