// Section Two/2 | Home Page

#section-two {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  .main-container {
    width: 100%;
    height: auto;
    background-color: var(--secondaryColor);
    display: flex;
    align-items: center;
    justify-content: center;

    color: var(--offWhiteColor);
    position: relative;
    padding: 200px 0 100px 0;

    .block {
      height: 50px;
      width: 50%;
      position: absolute;
      background-color: var(--primaryColorDarkGrey);
      top: 0;
      left: 0;

      span {
        position: inherit;
        height: 35px;
        width: 5px;
        // border-radius: 100%;
        background: tomato;
        // right: -5px;
        // bottom: -5px;
        right: 0;
        bottom: 0;
      }
    }

    .gear-image-small {
      height: 100px;
      position: absolute;
      right: 300px;
      top: 50px;
      -webkit-animation: spin 4s linear infinite;
      -moz-animation: spin 4s linear infinite;
      animation: spin 4s linear infinite;
    }

    .gear-image-large {
      height: 300px;
      position: absolute;
      left: -190px;
      bottom: 10px;
      -webkit-animation: spin 4s linear infinite;
      -moz-animation: spin 4s linear infinite;
      animation: spin 4s linear infinite;
    }

    .circle,
    .circle-two {
      height: 60px;
      width: 60px;
      border-radius: 100%;
      border: 0.15rem solid tomato;
      position: absolute;

      right: 320px;
      top: 70px;

      -webkit-animation: spin 4s linear infinite;
      -moz-animation: spin 4s linear infinite;
      animation: spin 4s linear infinite;
    }

    @-moz-keyframes spin {
      100% {
        -moz-transform: rotate(360deg);
      }
    }
    @-webkit-keyframes spin {
      100% {
        -webkit-transform: rotate(360deg);
      }
    }
    @keyframes spin {
      100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
      }
    }

    .left {
      height: 100%;
      width: 50%;
      position: relative;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .heading {
        text-transform: capitalize; // margin-top: 125px;
        padding-left: 0px;
        padding-left: 125px;
        text-transform: uppercase;
      }

      .sub-title {
        padding-left: 125px;
        margin-top: 25px;
        font-size: 0.85rem;
        line-height: 1.4rem;
      }
    }

    .right {
      height: 100%;
      width: 50%;
      padding-right: 60px;

      position: relative;

      display: flex;
      align-items: center;
      justify-content: center;

      .side-line {
        height: 200px;
        width: 5px;
        background-color: tomato;
        position: absolute;
        left: -125px;
      }
      .section-information {
        text-align: justify;
        padding-right: 200px;
        position: absolute;
        left: -60px;
      }
    }
  }
}

// 768 Breakpoint

@media screen and (max-width: 768px) {
  #section-two {
    .main-container {
      height: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: var(--offWhiteColor);
      position: relative;

      padding: 100px 0;

      .block {
        height: 200px;
        width: 60%;
        position: absolute;
        top: 0;
        left: 0;

        span {
          position: inherit;
          height: 35px;
          width: 5px;
          background: tomato;
          right: 0;
          bottom: 0;
        }
      }

      .gear-image-small {
        height: 100px;
        position: absolute;
        right: 30px;
        top: 50px;
      }

      .gear-image-large {
        height: 300px;
        position: absolute;
        left: -190px;
        bottom: 10px;
      }

      .circle {
        height: 60px;
        width: 60px;
        border-radius: 100%;
        border: 0.15rem solid tomato;
        position: absolute;

        right: 50px;
        top: 70px;
      }

      .left {
        height: 100%;
        width: 100%;
        position: relative;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .heading {
          text-transform: capitalize;
          padding-left: 0px;
          padding-left: 30px;
          text-transform: uppercase;
          line-height: 2.6rem;
        }

        .sub-title {
          padding-left: 30px;
          font-size: 0.85rem;
          line-height: 1.4rem;
        }
      }

      .right {
        height: 100%;
        width: 100%;
        padding-right: 30px;
        padding-top: 50px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .section-information {
          text-align: justify;
          padding-right: 0px;
          padding-left: 30px;
          position: relative;
          left: 0px;
        }
      }
    }
  }
}
