@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


@import './home.css';
@import './intro.css';
@import './how.css';
@import './funds.css';
@import './contributors.css';




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}



body{
    font-family: 'Montserrat', sans-serif; 
    color: rgb(23, 63, 53);
    transition: .3s ease 0s;
    /* overflow-x: hidden!important; */
    overflow-x: hidden;
    overflow-y: scroll;


      -webkit-user-select: none;
         -moz-user-select: -moz-none;
          -ms-user-select: none;
              user-select: none;
}

.navbar {
    background: #000;
}

