#intro{
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

}

#intro .intro-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 50%;
    height: 40%;
}

#intro .chart{
    width: 50%;
    margin: 0 20px 0 0;
}

#intro .intro-text h1{
    font-size: 35px;
    font-family: 'Satisfy', cursive;
    color: rgb(255, 0, 179);
}

#intro .intro-text p{
    font-size: 18px;
    padding: 15px 25px;
}

#intro .chart{
    display: flex;
    align-items: center;
    justify-content: center;
}

#intro .chart .group-one{
    margin-top: 20px;
}

#intro .chart .group-two{
    margin-bottom: 20px;
}


#intro .chart .card{
    height: 200px;
    width: 150px;
    margin: 15px;
    background-color: rgb(241, 241, 241);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    transition: .2s ease-in-out 0s;
}

#intro .chart .card:hover{
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.9);
    cursor: pointer;
}


@media screen and (max-width:450px){
    #intro{
        height: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }

    #intro .intro-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
        padding-top: 50px;

        width: 95%;
        height: unset;
    }
    
    #intro .chart{
        width: 95%;
        margin: 0 auto;
    }

    #myChart{
        margin: 20px auto;
        width: 100%;
    }
}