.sponsor-card-container {
  // position: absolute;
  // right: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  .action-area {
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #f3f3f3;

    height: 100%;
    width: 100%;
  }

  .sponsor-card {
    background-color: #f3f3f3;
    height: 105px;
    width: 265px;
    margin: 12px;
    box-shadow: none;
    border-radius: 5px;
    // border: .1rem solid rgb(235, 235, 235);
    // border: .13rem solid #2a2a2a;

    .add-button {
      margin: auto 0;
      height: 50px;
      // border-radius: 100%;
    }

    .sponsor-images {
      height: 40px;
      // width: 40px;
      border-radius: 7px;
      // filter: grayscale(0);
      // filter: saturate(10);
    }

    .card-text {
      margin-left: 20px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      .card-title {
        font-size: 0.875rem;
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: center;

        .arrow {
          font-size: 0.9rem;
          margin-left: 10px;
          color: tomato;
        }
      }

      .card-subtitle {
        font-size: 0.75rem;
        // line-height: 1.2rem;
        padding-top: 2px;
        // text-align: left;
      }
    }
  }

  .sponsor-card:hover {
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%),
      0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
  }

  .row {
    // position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .row-zero {
    margin-left: 350px;
  }

  .row-one {
    margin-left: 250px;
  }

  .row-two {
    margin-left: 150px;
  }

  .row-three {
    margin-left: 50px;
  }

  .row-four {
    margin-left: -100px;
  }
}

.dotted-wall {
  position: absolute;
  height: 150px;
  right: 0;
  top: -125px;

  @media screen and (max-width: 420px) {
    height: 100px;
  }
}

@media screen and (max-width: 768px) {
  .sponsor-card-container {
    @media screen and (max-width: 420px) {
      .row-zero {
        margin-left: 350px;
      }

      .row-one {
        margin-left: -100px;
      }

      .row-two {
        margin-left: -150px;
      }

      .row-three {
        margin-left: -50px;
      }

      .row-four {
        margin-left: 30px;
      }
    }
  }
}
