#why-support .chart{
    width: 100%;
    margin: 0 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#why-support img{
    height: 350px;
}

#why-support .chart{
    display: flex;
    align-items: center;
    justify-content: center;
}

#why-support .chart .group-one{
    margin-top: 55px;
}

#why-support .chart .group-two{
    margin-bottom: 55px;
}


#why-support .chart .card{
    height: 300px;
    width: 250px;
    margin: 15px;
    /* background-color: rgb(241, 241, 241); */
    box-shadow: 0px 5px 10px 0px rgba(134, 134, 134, 0.6);
    transition: .2s ease-in-out 0s;
    border-radius: 10px;

}
  


#why-support .card-image{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50%;
}

#why-support .chart .card img{
    height: 130px;
}


/* #why-support .chart .card:hover{
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.9);
    cursor: pointer;
} */

#why-support .chart .card h4{
    text-align: center;
    margin: 10px;
}

#why-support .chart .card p{
    font-size: 14px;
    padding: 10px 15px;
}



@media screen and (max-width:550px){
 
    #why-support .card-image{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    

    #why-support img{
        height: 200px;
    }

    #why-support .chart{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #why-support .chart .card img{
        height: 100px;
    }

    #why-support .chart .card{
        height: 200px;
        width: 95%;
        margin: 15px 0;
        background-color: rgb(241, 241, 241);
        box-shadow: 5px 5px 5px rgba(134, 134, 134, 0.6);
        transition: .2s ease-in-out 0s;
        border-radius: 10px;
        
        display: flex;
    
      
    }

    #why-support .card-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    #why-support .chart .card h4 {
        text-align: left;
        width: 100%;
        padding: 0 15px;
    }

    #why-support .chart .group-one{
        margin-top: 0px;
        
    }
    
    #why-support .chart .group-two{
        margin-bottom: 0px;
    }
    
    
    #why-support .chart{
        width: 95%;
        margin: 0 auto;
    }

    #myChart{
        margin: 20px auto;
        width: 100%;
    }
}