@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif; 
    transition: .25s ease-in-out 0s;

    /* Preloader */

    overflow: hidden;

    /* No User Selection */

    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
        user-select: none;
}

.nav-body-active{
    overflow: hidden!important;
}

