.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    position: fixed;
    width: 100%;

    background-color: #fff;

    z-index: 99;

    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, .3);
}

.navbar .logo a{
    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    color: #000;
}

.navbar .logo img{
    height: 70px;
}

.navbar .logo span{
    font-size: var(--navLogoFontSize);
    text-transform: uppercase;
    padding: 0 15px;
}

.navbar .nav-links .nav-ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .nav-links .nav-ul li{
    list-style: none;
    margin: 0 10px;
}

.navbar .nav-links .nav-ul .sub-nav{
    margin: 0 4px 0 10px;
}

.navbar .nav-links .nav-ul li a{
    text-decoration: none;
    font-size: var(--navLinksFontSize);
    text-transform: uppercase;
    color: var(--navLinksFontColor);

    padding: 13px 0;
}

.navbar .nav-links .nav-ul .main-nav-icon{
    display: none;
}

.navbar .nav-links .nav-ul li a .arrow{
    transition: .1s ease-in-out 0s;
    padding: 0 6px;
}

.navbar .nav-links .nav-ul li:hover .navlink-border{
    border-bottom: 2px solid rgb(0, 67, 129);
}

 
.sub-nav:hover .arrow{
    transform: rotate(90deg);
}


/* dropdown */


.sub-nav .dropdown {
    position: relative;
    display: none;
    position: absolute;
    right: 15px;
    background-color: #f1f1f1;
    border-radius: 10px;
    min-width: 580px;
    height: 500px;
    margin-top: 15px;
    padding: 15px 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    /* transition: 2s ease-in-out 0s; */

    overflow: hidden;
}

.sub-nav .dropdown .sub-nav-heading {
    text-transform: capitalize;
    font-weight: 700;
    margin: 15px 0 0 15px ;
}

.sub-nav .dropdown .sub-nav-underline {

}


.sub-nav .dropdown li {
   margin: 5px 15px!important;
}
  
.sub-nav .dropdown a {
    background-color: rgb(228, 228, 228);
    height: 70px;
    width: 350px;
    color: black;
    text-decoration: none;

    padding: 0 20px!important;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    transition: .1s ease-in-out 0s;
}


.sub-nav .dropdown a .sub-main{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: 700;
}

.sub-nav .dropdown a .sub-main-info{
    text-transform: capitalize;
    padding-top: 5px;
    font-size: .75rem;
    font-weight: 400;
}

.sub-nav .dropdown a .nav-icon{
   height: 40px;
   padding: 0 10px 0 0;
}

.sub-main-arrow{
    font-size:25!important;
    font-weight: 700!important;
    padding: 0 0;
    opacity: 0;
    transition: .3s ease-in-out 0s;
}

.sub-nav .dropdown a:hover .sub-main-arrow{
    opacity: 1;
    padding: 0 20px;
}

.sub-nav .dropdown a:hover {
    background-color: rgb(0, 67, 129);
    color: #fff!important;
}

.sub-nav .dropdown a:hover .nav-icon{
    filter: brightness(0) invert(1);
}
  
.sub-nav:hover .dropdown {
    /* display: block; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.circle{
    height: 500px;
    width: 500px;
    background-color: rgb(0, 67, 129);
    position: absolute;
    /* right: -500px;
    bottom: -500px; */
    right: -250px;
    bottom: -250px;
    border-radius: 70%;
    transition: .15s ease-in-out 0s;
}

/* .sub-nav .dropdown:hover .circle{
    right: -250px;
    bottom: -250px;
} */

.advertise{
    height: 200px;
    width: 95%;
    margin: 15px auto;
    background-color: rgb(255, 178, 35);
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.advt-heading{
    padding: 20px 0 0 20px;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 700;
    color: #000;
    
}

.advt-info{
    padding: 0 0 15px 20px;
}

.advt-button{
    margin: 10px 0 0 20px;
}

.burger{
    padding: 20px;
    display: none;
    z-index: 10;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 5px;
    transition: all 0.3s ease;
}

.mob-nav-box-one{
    display: none;
}

.mob-nav-box-two{
    display: none;
}


/* mobile nav */

@media screen and (max-width:978px) {
    .navbar .nav-links .nav-ul{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        top: 0;
        right: 0;
        height: 100vh;
        width: 65%;
        background-color: #fff;
        padding: 90px 15px 50px 15px;

        overflow-y: scroll;

        transform: translateX(100%);
        transition: .25s ease-in-out 0s;

        /* display: none; */
    }

    .navbar .nav-links .nav-ul li{
        list-style: none;
        margin: 0 0px;
        padding: 2.5px 0;
        width: 100%;
        transition: .3s ease-in-out 0s;
        

    }

    .navbar .nav-links .nav-ul .sub-nav{
        margin: 0 0px 0 0px;
    }
    
    .navbar .nav-links .nav-ul li a{
        text-decoration: none;
        font-size: var(--navLinksFontSize);
        text-transform: uppercase;
        color: var(--navLinksFontColor);
        font-size: 1.2rem;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      
    }
    
    .navbar .nav-links .nav-ul .main-link{
       display: flex;
       align-items: center;
       justify-content: flex-start;
    }
    
    .navbar .nav-links .nav-ul .main-nav-icon{
        display: block;
        height: 25px;
        padding-right: 10px;
    }
    
    .navbar .nav-links .nav-ul li a .arrow{
        transition: .1s ease-in-out 0s;
        padding: 0 6px;

        position: absolute;
        right: 15px;
    }
    
    .navbar .nav-links .nav-ul li:hover .navlink-border{
        border-bottom: unset;
    }
    
     
    .sub-nav:hover .arrow{
        transform: rotate(90deg);
    }
   

    .sub-nav .dropdown {
        position: relative;
        /* display: none; */
        right: 0px;
        background-color: #fff;
        border-radius: 10px;
        min-width: 100%;
        height: unset;
        margin-top: 5px;
        padding: 0 0 0px 0;
        box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
        /* transition: 2s ease-in-out 0s; */
        overflow: hidden;
    }

    .sub-nav .dropdown .sub-nav-heading {
        text-transform: capitalize;
        font-weight: 700;
        margin: 15px 0 0 10px ;

        display: none;
    }

    .sub-nav .dropdown .sub-nav-underline {
        display: none;
    }


    .sub-nav .dropdown li {
        margin: 5px 0px!important;
        padding: 0 0!important;
    }
    
    .sub-nav .dropdown a {
        background-color: rgb(228, 228, 228);
        height: 70px;
        width: unset;
        color: black;
        text-decoration: none;

        padding: 0 20px!important;

        display: flex;
        align-items: center;
        justify-content: flex-start!important;

        transition: .1s ease-in-out 0s;
    }


    .sub-nav .dropdown a .sub-main{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        font-weight: 700;
        font-size: .8rem;
    }

    .sub-nav .dropdown a:hover .sub-main-arrow{
        opacity: 1;
        padding: 0 10px;
    }

    .sub-nav .dropdown a .sub-main-info{
        text-transform: capitalize;
        padding-top: 5px;
        font-size: .6rem;
        font-weight: 400;
    }

    .sub-nav .dropdown a .nav-icon{
    height: 25px;
    padding: 0 10px 0 0;
    }
    
    .circle{
        display: none;
    }

    .mob-nav-box-one{
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        height: 70px;
        width: 100%;
        background-color: tomato;
        padding: 0 0!important;
        margin: 0 0!important;
    }
    
    .mob-nav-box-two{
        /* position: absolute; */
        margin: 20px 0;
        right: 0;
        display: block;
        height: 70px;
        width: 100%;
        /* background-color: tomato; */
        padding: 25px 0;
        /* margin: 0 0!important; */
        text-align: center;

        font-size: .8rem;
        text-transform: uppercase;
       
    }

    .burger{
        display: block;
    }

    .toggle .line1{
        transform: rotate(-45deg) translate(-5px,6px);
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-5px,-6px);
    }

    .nav-active{
        transform: translateX(0%)!important;
        box-shadow: 0px 0px 12px 16px rgba(0, 0, 0, 0.096);
    }

    .sub-nav .dropdown {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .sub-nav .arrow{
        transform: rotate(90deg);
    }

    /* .dropdown-active {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    } */

}

@media screen and (max-width:450px) {

    .navbar .nav-links .nav-ul li a{
        text-decoration: none;
        font-size: var(--navLinksFontSize);
        text-transform: uppercase;
        color: var(--navLinksFontColor);
        font-size: 1rem;
      
    }

    .sub-nav .dropdown a {
        background-color: rgb(228, 228, 228);
        height: 50px;
        width: unset;
        color: black;
        text-decoration: none;

        padding: 0 20px!important;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        transition: .1s ease-in-out 0s;
    }

    .sub-nav .dropdown a .sub-main{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        font-weight: 700;
        font-size: .6rem;
    }

    .sub-nav .dropdown a .sub-main-info{
        text-transform: capitalize;
        padding-top: 5px;
        font-size: .6rem;
        font-weight: 400;
    }
    .sub-nav .dropdown a .nav-icon{
        height: 20px;
        padding: 0 10px 0 0;
    }

    .navbar .logo img{
        height: 50px;
    }
    
    .navbar .logo span{
        font-size: .6rem;
        text-transform: uppercase;
        padding: 0 15px;
    }
}


  



