#maya{
    /* min-height: 100vh; */

    padding: 50px 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

#maya .container{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#maya .container .left{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#maya .container .left .maya-image{
    height: 400px;
}

#maya .container .left .blue-box{
    position: absolute;
    margin-bottom: -550px;
    height: 275px;
    width: 350px;
}

#maya .container .right{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#maya .container .right .heading{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}

#maya .container .right .heading h1{
    font-size: 4rem;
    text-transform: uppercase;
}

#maya .container .right .heading span{
    font-size: 1rem;
    text-transform: uppercase;
}

#maya .container .right .heading .about-maya{
    font-size: .95rem;
    text-transform: unset;
    padding: 15px 50px;
    line-height: 1.4rem;
}

#maya .container .right .car-info{
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    margin-bottom: -350px;
}

#maya .container .right .car-info .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

#maya .container .right .car-info .info .info-image{
    height: 45px;
}

#maya .container .right .car-info .info .info-value{
    font-size: 1.4rem;
    padding: 10px 0 0 0;
}

#maya .container .right .car-info .info .info-sub-value{
    font-size: .7rem;
    padding: 2px 0 0 0;
    text-transform: uppercase;
}

#maya .container .right button{
    position: absolute;
    margin-bottom: -550px;
}


@media screen and (max-width:978px){
     
    #maya .container{
        height: 100%;
        width: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #maya .container .left{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    #maya .container .left .maya-image{
        height: 250px;
    }
    
    #maya .container .left .blue-box{
        position: absolute;
        margin-bottom: -550px;
        height: 275px;
        width: 350px;
    }
    
    #maya .container .right{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #maya .container .right .heading{
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
    }
    
    #maya .container .right .heading h1{
        font-size: 3rem;
        text-transform: uppercase;
    }
    
    #maya .container .right .heading span{
        font-size: 1rem;
        text-transform: uppercase;
    }
    
    #maya .container .right .heading .about-maya{
        font-size: .85rem;
        text-transform: unset;
        padding: 15px 30px;
        line-height: 1.4rem;
    }
    
    #maya .container .right .car-info{
        display: flex;
        align-items: center;
        justify-content: center;
    
        position: absolute;
        margin-bottom: -375px;
    }
    
    #maya .container .right .car-info .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px 10px;
    }
    
    #maya .container .right .car-info .info .info-image{
        height: 35px;
    }
    
    #maya .container .right .car-info .info .info-value{
        font-size: 1.2rem;
        padding: 10px 0 0 0;
    }
    
    #maya .container .right .car-info .info .info-sub-value{
        font-size: .7rem;
        padding: 2px 0 0 0;
        text-transform: uppercase;
    }
    
    #maya .container .right button{
        position: absolute;
        margin-bottom: -550px;
    }
    
}

@media screen and (max-width:378px) {
    #maya .container .right .car-info{
        display: flex;
        align-items: center;
        justify-content: center;
    
        position: absolute;
        margin-bottom: -400px;
    }

    #maya .container .right button{
        position: absolute;
        margin-bottom: -600px;
    }
}

@media screen and (max-width:350px) {

    #maya .container .left .maya-image{
        height: 200px;
    }
    
     
    #maya .container .right .heading h1{
        font-size: 2.5rem;
        text-transform: uppercase;
    }
    
    #maya .container .right .heading span{
        font-size: .8rem;
        text-transform: uppercase;
    }
    
    #maya .container .right .heading .about-maya{
        font-size: .7rem;
        text-transform: unset;
        padding: 15px 30px;
        line-height: 1.2rem;
    }
    #maya .container .right .car-info{
        display: flex;
        align-items: center;
        justify-content: center;
    
        position: absolute;
        margin-bottom: -350px;
    }

    #maya .container .right .car-info .info .info-image{
        height: 35px;
    }
    
    #maya .container .right .car-info .info .info-value{
        font-size: 1rem;
        padding: 10px 0 0 0;
    }
    
    #maya .container .right .car-info .info .info-sub-value{
        font-size: .5rem;
        padding: 2px 0 0 0;
        text-transform: uppercase;
    }
    

    #maya .container .right button{
        position: absolute;
        margin-bottom: -525px;
    }
}