#partners{
    /* min-height: 100vh; */

    padding: 50px 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#partners .container{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#partners .container .right{
    width: 50%;
    padding-right: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start!important;
    justify-content: center;
}

#partners .container .right .heading{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#partners .container .right .heading h1{
    font-size: 2.2rem;
    text-transform: uppercase;
}

#partners .container .right span{
    font-size: 1.2rem;
    text-transform: uppercase;
}


#partners .container .right .about-partners{
    padding-top: 10px;
    font-size: .95rem;
    text-transform: unset;
    line-height: 1.4rem;
}

#partners .container .right a{
   margin-top: 30px;
}

#partners .container .right{
   width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#partners .container .left { 
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#partners .container .left .container{ 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 100px;
    /* border-radius: 100%;
    width: unset;
    border-left: 4px solid var(--primaryBlue); */
}
 

#partners .container .left .container .partner-gold{
    display: flex;
    align-items: center;
    justify-content: center;
}

#partners .container .left .container .partner-gold img{
    height: 120px;
    padding: 0 15px;
}

#partners .container .left .container .partner-silver{
    display: flex;
    align-items: center;
    justify-content: center;
}

#partners .container .left .container .partner-silver img{
    height: 120px;
    padding: 0 15px;
}

#garret{
    /* height: 175px!important; */
}

#partners .sub-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 30px 80px 0 80px;
}

#partners .sub-container img{
    height: 90px;
    padding: 10px 15px;
}

@media screen and (max-width:978px) {
    
    #partners .container{
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

        
    #partners .container .right{
        width: 100%;
        padding-right: 30px;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start!important;
        justify-content: center;
    }

    #partners .container .right .heading{

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    #partners .container .right .heading h1{
        font-size: 1.8rem;
        text-transform: uppercase;
    }

    #partners .container .right span{
        font-size: 1rem;
        text-transform: uppercase;
    }


    #partners .container .right .about-partners{
        padding-top: 10px;
        font-size: .85rem;
        text-transform: unset;
        line-height: 1.4rem;
    }

    #partners .container .right a{
    margin-top: 30px;
    }

    #partners .container .right{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #partners .container .left { 
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #partners .container .left .container{ 
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        padding-top: 30px;
        padding-left: 0px;
        /* border-radius: 100%;
        width: unset;
        border-left: 4px solid var(--primaryBlue); */
    }
    

    #partners .container .left .container .partner-gold{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #partners .container .left .container .partner-gold img{
        height: 120px;
        padding: 0 10px;
    }

    #partners .container .left .container .partner-silver{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #partners .container .left .container .partner-silver img{
        height: 100px;
        padding: 0 15px;
    }

    #garret{
        /* height: 175px!important; */
    }

    #partners .sub-container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

        padding: 0px 0px 0 0px;
    }

    #partners .sub-container img{
        height: 70px;
        padding: 10px 10px;
    }

}

@media screen and (max-width:378px) {
    #partners .container .left .container .partner-silver img{
        height: 90px;
        padding: 0 13px;
    }
}


@media screen and (max-width:350px) {
    #partners .container .right .heading h1{
        font-size: 1.5rem;
        text-transform: uppercase;
    }

    #partners .container .right span{
        font-size: 1rem;
        text-transform: uppercase;
    }


    #partners .container .right .about-partners{
        padding-top: 10px;
        font-size: .7rem;
        text-transform: unset;
        line-height: 1.2rem;
    }

    #partners .container .left .container .partner-gold img{
        height: 90px;
        padding: 0 10px;
    }
    #partners .container .left .container .partner-silver img{
        height: 70px;
        padding: 0 15px;
    }
    #partners .sub-container img{
        height: 60px;
        padding: 10px 10px;
    }
}
 
