#shop{
    /* min-height: 100vh; */

    padding: 50px 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#shop .container{
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

#shop .container .left{
    width: 50%;
    padding-left: 60px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#shop .container .left .heading{

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#shop .container .left .heading h1{
    font-size: 2.2rem;
    text-transform: uppercase;
}

#shop .container .left span{
    font-size: 1.2rem;
    text-transform: uppercase;
}


#shop .container .left .about-shop{
    padding-top: 10px;
    font-size: .95rem;
    text-transform: unset;
    line-height: 1.4rem;
}

#shop .container .left a{
   margin-top: 30px;
}

#shop .container .right{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    /* padding: 0 30px 0 0; */
}

#shop .swiper-slide img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.274);
    border-radius: 15px;
}

@media screen and (max-width:978px){
    #shop .container{
        height: 100%;
        width: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #shop .container .left{
        width: 100%;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    
    #shop .container .left .heading{
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    
    #shop .container .left .heading h1{
        font-size: 1.8rem;
        text-transform: uppercase;
    }
    
    #shop .container .left span{
        font-size: 1rem;
        text-transform: uppercase;
    }
    
    
    #shop .container .left .about-shop{
        padding-top: 10px;
        font-size: .85rem;
        text-transform: unset;
        line-height: 1.4rem;
    }
    
    #shop .container .left button{
       margin-top: 30px;
    }
    
    #shop .container .right{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    
        padding-top: 50px;
    }
    
    #shop .swiper-slide img{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.274);
        border-radius: 15px;
    }
}

@media screen and (max-width: 350px) {
    #shop .container .left .heading h1{
        font-size: 1.5rem;
        text-transform: uppercase;
    }
    
    #shop .container .left span{
        font-size: 1rem;
        text-transform: uppercase;
    }
    
    
    #shop .container .left .about-shop{
        padding-top: 10px;
        font-size: .7rem;
        text-transform: unset;
        line-height: 1.2rem;
    }
    
}



 