:root {
  --white: #fff;
  --black: #000;
  --primaryColor: rgb(212, 212, 212);
  --secondaryColorUnderline: tomato;
}

.footer-container {
  height: 570px;
  width: 100%;
  // background-color: #000000;
  position: relative;
  // font-family: Montserrat, sans-serif;
  margin: 0 auto;
  background-color: #111111;
  color: rgb(155, 155, 155);
  padding: 0px 0 0 0px;

  .content-top {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 55px 60px 60px 60px;

    .underline {
      height: 0.12rem;
      width: 30px;
      background-color: var(--secondaryColorUnderline);
      margin: 10px 0;
    }

    .footer-svg {
      // width: 100%;
      // height: 50px;

      // display: flex;
      // align-items: center;
      // justify-content: center;

      // position: absolute;
      // top: 0;

      .arrow-multiple {
        position: absolute;
        // opacity: .15;
        // padding: 0 15px;
        right: 60px;
        top: -30px;
        height: 60px;
     
        // transform: rotateZ(90deg);

        @media screen and (max-width: 900px) {
          height: 60px;
          top: -30px;
          // right: 60px;
        }

        @media screen and (max-width: 420px) {
          height: 60px;
          right: 30px;
        }
        @media screen and (max-width: 390px) {
          height: 50px;
          top: -25px;
          right: 30px;
        }
        @media screen and (max-width: 360px) {
          height: 40px;
          top: -20px;
          right: 30px;
        }
      }

      .block {
        // background-color: rgb(255, 123, 0);
        // width: 60%;
        // height: 2px;
        // position: absolute;
        // top: 24px;
        // left: 180px;
        // display: flex;
        // align-items: center;
        // justify-content: flex-start;

        @media screen and (max-width: 1400px) {
          width: 55%;
        }

        @media screen and (max-width: 1200px) {
          width: 50%;
        }

        @media screen and (max-width: 1100px) {
          width: 45%;
        }

        @media screen and (max-width: 950px) {
          width: 40%;
        }
        @media screen and (max-width: 768px) {
          width: 35%;
        }
        @media screen and (max-width: 650px) {
          width: 30%;
          left: 120px;
        }

        @media screen and (max-width: 450px) {
          width: 35%;
          left: 30px;
        }

        span {
          color: #adadad;
          text-transform: uppercase;

          position: absolute;
          left: -180px;
        }

        @media screen and (max-width: 420px) {
          top: 0px;
        }
      }
    }

    .box-one {
      position: relative;
      z-index: 2;
      width: 30%;
      height: 100%;
      .footer-logo {
        img {
          height: 85px;
        }

        .footer-about {
          text-align: left;

          font-size: 0.75rem;
          line-height: 1.1rem;
          width: 80%;
        }
      }

      .footer-social-links {
        width: 100%;
        margin: 30px 0;
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        li {
          margin-right: 10px;

          display: flex;
          align-items: center;
          justify-content: center;

          // height: 40px;
          // width: 40px;
          background-color: rgb(12, 12, 12);
          border-radius: 100%;

          .footer-social-icons {
            height: 40px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            .footer-icon {
              color: rgb(155, 155, 155);
            }
          }
        }
      }

      .address-box {
        width: 100%;
        margin-top: 40px;
        text-align: left;

        .footer-heading {
          font-size: 1rem;
          // letter-spacing: .15rem;
          font-weight: 700;
          text-align: left;
          text-transform: uppercase;

          color: rgb(180, 180, 180);
        }

        .address {
          font-size: 0.75rem;
          line-height: 1.1rem;

          margin-bottom: 10px;
        }

        .view-map {
          font-size: 0.8rem;
          line-height: 1.2rem;

          color: rgb(180, 180, 180);
          text-decoration: none;
          text-transform: uppercase;
          display: flex;
          align-items: center;
          justify-content: flex-start;

          .link-icon {
            color: tomato;

            font-size: 1.2rem;
            margin-left: 5px;
          }
        }
      }
    }

    .box-two {
      position: relative;
      z-index: 2;
      width: 40%;
      display: flex;
      align-items: flex-start;
      justify-content: space-evenly;
      height: 50%;

      .left-box {
        padding-right: 60px;
      }

      .link-box {
        // height: 50%;

        .footer-heading {
          font-size: 1rem;
          color: rgb(180, 180, 180);
          font-weight: 700;
          text-align: left;
          text-transform: uppercase;
        }

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;

          li {
            margin: 3px 0;

            .footer-links {
              text-transform: uppercase;
              text-decoration: none;
              font-size: 0.8rem;

              color: rgb(155, 155, 155);
            }
          }
        }
      }
    }

    .box-three {
      position: relative;
      z-index: 2;
      width: 30%;
      height: 50%;
      padding-left: 10%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;

      .user-action {
        margin-bottom: 40px;

        .footer-heading {
          font-size: 1rem;
          color: rgb(180, 180, 180);
          font-weight: 700;
          text-align: left;
          text-transform: uppercase;
        }

        .footer-button {
          margin-top: 10px;

          width: 150px;
          // background-color: #fff;
          // border: .15rem solid rgb(82, 82, 82);
          // box-shadow: none;
        }
      }
    }
  }

  .content-bottom {
    background-color: rgb(10, 10, 10);
    height: 75px;
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: center;

    .copy-right {
      font-size: 0.8rem;
      position: absolute;
      left: 30px;

      .dark {
        font-weight: 700;
      }
    }

    .terms {
      font-size: 0.8rem;
      position: absolute;
      right: 30px;

      a {
        color: rgb(155, 155, 155);
        text-decoration: none;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .footer-container {
    height: auto;
    .content-top {
      padding: 55px 30px 75px 30px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: center;

      .box-one {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .footer-logo {
          order: 2;

          img {
            height: 50px;
          }

          .footer-about {
            text-align: left;

            font-size: 0.8rem;
            line-height: 1.2rem;
            width: 80%;
          }
        }

        .footer-social-links {
          order: 3;
          width: 100%;
          margin: 30px 0;
          list-style: none;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;

          li {
            margin-right: 10px;

            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .address-box {
          width: 100%;
          margin-top: 40px;
          text-align: left;

          order: 1;

          margin: 20px 0;

          .footer-heading {
            font-size: 1rem;

            font-weight: 700;
            text-align: left;
            text-transform: uppercase;
          }

          .address {
            font-size: 0.8rem;
            line-height: 1.2rem;

            margin-bottom: 10px;
          }

          .view-map {
            font-size: 0.8rem;
            line-height: 1.2rem;

            text-decoration: none;
            text-transform: uppercase;
          }
        }
      }

      .box-two {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        height: 50%;

        margin: 20px 0;

        .link-box {
          // height: 50%;

          .footer-heading {
            font-size: 1rem;

            font-weight: 700;
            text-align: left;
            text-transform: uppercase;
          }

          ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            li {
              margin: 3px 0;

              .footer-links {
                text-transform: uppercase;
                text-decoration: none;
                font-size: 0.8rem;
              }
            }
          }
        }
      }

      .box-three {
        width: 100%;
        height: 50%;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .user-action {
          margin-bottom: 40px;

          .footer-heading {
            font-size: 1rem;

            font-weight: 700;
            text-align: left;
            text-transform: uppercase;
          }

          .footer-button {
            margin-top: 10px;
          }
        }
      }
    }
    .content-bottom {
      height: 75px;
      position: absolute;
      bottom: 0;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      .copy-right {
        font-size: 0.8rem;
        position: absolute;
        left: 30px;
      }

      .terms {
        font-size: 0.8rem;
        position: absolute;
        right: 30px;

        a {
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (max-width: 678px) {
  .footer-container {
    height: auto;
    .content-top {
      padding: 55px 30px 130px 30px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: center;

      .box-one {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .footer-logo {
          order: 2;

          img {
            height: 50px;
          }

          .footer-about {
            text-align: left;

            font-size: 0.7rem;
            line-height: 1.2rem;
            width: 80%;
          }
        }

        .footer-social-links {
          order: 3;
          width: 100%;
          margin: 30px 0;
          list-style: none;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;

          li {
            margin-right: 10px;

            display: flex;
            align-items: center;
            justify-content: center;
          }
        }

        .address-box {
          width: 100%;
          margin-top: 40px;
          text-align: left;

          order: 1;

          margin: 20px 0;

          .footer-heading {
            font-size: 0.8rem;

            font-weight: 700;
            text-align: left;
            text-transform: uppercase;
          }

          .address {
            font-size: 0.7rem;
            line-height: 1.2rem;

            margin-bottom: 10px;
          }

          .view-map {
            font-size: 0.8rem;
            line-height: 1.2rem;

            text-decoration: none;
            text-transform: uppercase;
          }
        }
      }

      .box-two {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        height: 50%;

        margin: 20px 0;

        .link-box {
          // height: 50%;

          .footer-heading {
            font-size: 0.8rem;

            font-weight: 700;
            text-align: left;
            text-transform: uppercase;
          }

          ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            li {
              margin: 3px 0;

              .footer-links {
                text-transform: uppercase;
                text-decoration: none;
                font-size: 0.7rem;
              }
            }
          }
        }
      }

      .box-three {
        width: 100%;
        height: 50%;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .user-action {
          margin-bottom: 40px;

          .footer-heading {
            font-size: 0.8rem;

            font-weight: 700;
            text-align: left;
            text-transform: uppercase;
          }

          .footer-button {
            margin-top: 10px;
          }
        }
      }
    }
    .content-bottom {
      height: 105px;
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .copy-right {
        font-size: 0.7rem;
        position: absolute;
        text-align: center;
        left: unset;
        bottom: 30px;
      }

      .terms {
        font-size: 0.7rem;
        position: absolute;

        bottom: 60px;
        right: unset;

        a {
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (max-width: 378px) {
  .footer-container {
    .content-bottom {
      height: 105px;
      position: absolute;
      bottom: 0;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      .copy-right {
        font-size: 0.6rem;
        position: absolute;
        text-align: center;
        left: auto;
        bottom: 30px;
      }

      .terms {
        font-size: 0.6rem;
        position: absolute;

        bottom: 60px;
        right: unset;

        a {
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (max-width: 355px) {
  .footer-container {
    .content-top {
      padding: 55px 30px 100px 30px;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      justify-content: center;

      .box-one {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .footer-logo {
          order: 2;

          img {
            height: 50px;
          }

          .footer-about {
            text-align: left;

            font-size: 0.65rem;
            line-height: 1.2rem;
            width: 90%;
          }
        }

        .footer-social-links {
          order: 3;
          width: 100%;
          margin: 30px 0;
          list-style: none;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;

          li {
            margin-right: 10px;
            height: 35px;
            width: 35px;

            display: flex;
            align-items: center;
            justify-content: center;

            .footer-icon{
              font-size: 1.2rem;
            }
          }
        }

        .address-box {
          width: 100%;
          margin-top: 40px;
          text-align: left;

          order: 1;

          margin: 20px 0;

          .footer-heading {
            font-size: 0.7rem;

            font-weight: 700;
            text-align: left;
            text-transform: uppercase;
          }

          .address {
            font-size: 0.65rem;
            line-height: 1.2rem;

            margin-bottom: 10px;
          }

          .view-map {
            font-size: 0.7rem;
            line-height: 1.2rem;

            text-decoration: none;
            text-transform: uppercase;
          }
        }
      }

      .box-two {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        height: 50%;

        margin: 20px 0;

        .link-box {
          // height: 50%;

          .footer-heading {
            font-size: 0.7rem;

            font-weight: 700;
            text-align: left;
            text-transform: uppercase;
          }

          ul {
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            li {
              margin: 3px 0;

              .footer-links {
                text-transform: uppercase;
                text-decoration: none;
                font-size: 0.65rem;
              }
            }
          }
        }
      }

      .box-three {
        width: 100%;
        height: 50%;
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        .user-action {
          margin-bottom: 40px;

          .footer-heading {
            font-size: 0.7rem;

            font-weight: 700;
            text-align: left;
            text-transform: uppercase;
          }

          .footer-button {
            margin-top: 10px;
          }
        }
      }
    }
    .content-bottom {
      height: 75px;
      position: absolute;
      bottom: 0;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      .copy-right {
        font-size: 0.5rem;
        position: absolute;
        // left: 30px;
        bottom: 20px;
      }

      .terms {
        font-size: 0.6rem;
        position: absolute;

        bottom: 40px;
        right: unset;

        a {
          text-decoration: none;
        }
      }
    }
  }
}
