.team-member-card{
    height: 150px;
    width: 30%;
    margin: 15px;
    border-radius: 5px;
    background: #f2f2f2!important;
    // box-shadow:  5px 5px 8px #151515,
    //             -5px -5px 8px #1f1f1f;
    padding: 15px;

    color: #505050!important;


    display: flex;
    align-items: center;
    justify-content: flex-start;

    text-transform: capitalize;

    @media screen and (max-width:1100px) {
        width: 45%;
    }

    @media screen and (max-width:800px) {
        width: 100%;
    }

    @media screen and (max-width:420px) {
        width: 100%;
        margin: 10px 0;
    }


    .member-info{
        margin-left: 15px;

        .member-social{
            margin-top: 10px;

            .social-icon{
                font-size: 1.2rem;
                margin-right: 8px;
            }
        }
    }
}