@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@import './leadCards.css';
@import './card.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}




body{
    font-family: 'Montserrat', sans-serif; 
    color: rgb(23, 63, 53);
    transition: .3s ease 0s;
    overflow-x: hidden!important;
    overflow-x: hidden;
    overflow-y: scroll;


      -webkit-user-select: none;
         -moz-user-select: -moz-none;
          -ms-user-select: none;
              user-select: none;
}

@keyframes fade-in-bottom {
    0%      { transform: translate(0,25%); opacity:0; }
    100%    { transform: translate(0,0);   opacity:1; }
  }
  .transitionSlideInbottom {
    opacity: 1;
    animation: fade-in-bottom 1s 1;
}

#preloader {

    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff; /*change if the mask should have another color then white */
    z-index:9999;
}

#status {
 
    width:200px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    background-image:url(../IMAGES/LOADER/100.webp); /* path to your loading animation */
    background-repeat:no-repeat;
    background-position:center;
    background-size: cover;
    margin:-100px 0 0 -100px;
}


.navbar {
    background: #000;
}

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}

.heading{
    /* font-family: 'Satisfy', cursive; */
    color: rgb(255, 0, 140);
    height: 100vh;
    /* padding-bottom: 30px; */
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    align-items: center;
    justify-content: center;
    text-align: center;

    /* background-image: url(../IMAGES/HOME/silhouette-confident-businesspeople.webp); */
    /* background-position: top center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position-y: 10vh;
    background-position-x: center;
    width: 100vw;
}

.heading img{
    height: 70px;
}

.heading ul{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.heading ul li{
    list-style: none;
    margin: 0 10px;
}

.heading ul li a{
    text-decoration: none;
    font-size: 20px;
    background-color: #ffffff;
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 0, 157);

}

.heading ul li a:hover {
    background-color: rgb(255, 85, 198);
    color: #fff;
}

.season6{
    background: rgb(255, 0, 170)!important;
    color: #fff!important;
}
.season5{
    
}
.season1{
    
}
.season1{
    
}
.season1{
    
}

@media screen and (max-width:450px){
    .heading{
        font-size: 2em;
    }

    .heading ul li{
        list-style: none;
        margin: 10px 10px;
    }
}


