.lead-card-container{

}

.managers{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3% 0%;
}



.lead-card{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.capt-card{
    width: 50%;
}

.manager-card{
    width: 45%;
    margin: 20px 15px;
}

.lead-card ul{
    display: flex;
}

.lead-card ul li{
    margin: 0 10px;
    list-style: none;
}

.lead-card p{
    margin: 10px 0;
    font-size: 12px;
    padding-top: 10px;
    border-top: 2px solid pink;
}

.lead-card img{
    height: 300px;
}
.lead-card h2{
    font-size: 18px;
}
.lead-card h4{
    font-size: 14px;
}
.lead-card h5{
    font-size: 12px;
}

.fa{
    font-size: 18px!important;
}


@media screen and (max-width:768px){
    .managers{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 3% 0%;
    }
    
    
    
    .lead-card{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
    }
    
    .capt-card{
        width: unset;
        margin: 0 15px;
    }
    
    .manager-card{
        width: unset;
        margin: 20px 15px;
    }
    .lead-card ul{
        display: flex;
    }
    
    .lead-card ul li{
        margin: 0 10px;
        list-style: none;
    }
    
    .lead-card p{
        margin: 10px 0;
        font-size: 10px;
    }
    
    .lead-card img{
        height: 150px;
    }

    .lead-card h2{
        font-size: 16px;
    }
    .lead-card h4{
        font-size: 12px;
    }
    .lead-card h5{
        font-size: 12px;
    }

    .fa{
        font-size: 16px!important;
    }
}