#section-one-fseries {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  .styled-character-position {
    top: 35px;
    right: 50%;
  }

  .main-container {
    width: 100%;
    height: 100%;
    background-color: #1a1a1a;
    // background-image: linear-gradient(to right, #1a1a1a, #2a2a2a);
    // padding: 175px 60px 60px 60px;
    color: rgb(180, 180, 180);

    display: flex;
    align-items: center;
    justify-content: center;

    .underline {
      height: 0.15rem;
      width: 60px;
      background-color: tomato;
      margin: 5px 0;
    }

    .underline-small {
      height: 0.12rem;
      width: 30px;
      background-color: tomato;
      margin: 5px 0;
    }

    .left {
      height: 100%;
      width: 50%;
      position: relative;
      padding: 0 60px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .section-subtitle {
        margin-top: 30px;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: .9rem;
        line-height: 1.6rem;
        @media screen and (max-width: 420px) {
          font-size: 0.95rem;
          line-height: 1.6rem;
        }

        @media screen and (max-width: 360px) {
          font-size: 0.85rem;
          line-height: 1.4rem;
        }
      }

      .section-title {
        // text-transform: capitalize;
        font-size: 3.8rem;

        @media screen and (max-width: 420px) {
          font-size: 3rem;
        }

        @media screen and (max-width: 360px) {
          font-size: 2.8rem;
        }
        .change-color {
          text-transform: capitalize;
          font-size: 6rem;
          color: tomato;
          // color: rgb(255, 208, 0);
          // font-family: 'Roboto', sans-serif;

          @media screen and (max-width: 420px) {
            font-size: 4.4rem;
          }

          @media screen and (max-width: 360px) {
            font-size: 4rem;
          }
        }
      }

      .get-started {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 10px;

        .arrow {
          color: tomato;
          margin-left: 10px;
        }
      }

      .info-box {
        bottom: 0px;
        left: 0px;
        height: 115px;
        width: 95px;
        position: absolute;
        background-color: var(--secondaryColor);

        @media screen and (max-width: 420px) {
          height: 100px;
        }

        .box-left {
          left: 60px;
          width: 225px;

          @media screen and (max-width: 420px) {
            left: 30px;
            width: 200px;
          }
        }

        .box-right {
          right: -250px;
          @media screen and (max-width: 420px) {
            right: -200px;
          }
        }

        .arrow {
          font-size: 2.8rem;
          padding: 8px;
          border: 0.15rem solid tomato;
          border-radius: 100%;
        }
      }
    }

    .right {
      width: 50%;
      padding: 60px;
      overflow: hidden;

      .page-image{
          height: 100%;
        //   width: 100%;
      }
    }
  }
}
