#career-areas{
    min-height: 100vh;

    /* padding: 100px 0; */

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#career-areas .container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#career-areas .container .left{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 60px;
    width: 50%;
}

#career-areas .container .left h1{
    font-size: 2.2rem;
    text-transform: uppercase;
}

#career-areas .container .left span{
    font-size: 1rem;
    text-transform: uppercase;
}

#career-areas .container .left p{
    font-size: .95rem;
    line-height: 1.4rem;
    padding-top: 15px;
}

#career-areas .container .right{
    
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 60px;
    width: 50%;
}

#career-areas .container img{
    
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.438);
    border: 6px solid rgb(0, 183, 255);
}

@media screen and (max-width:978px) {
    #career-areas{
        min-height: 100vh;
    
        padding: 100px 0;
    
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    #career-areas .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #career-areas .container .left{
    
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 30px;
        padding-top: 100px;
        width: 100%;
    }
    
    #career-areas .container .left h1{
        font-size: 1.8rem;
        text-transform: uppercase;
    }
    
    #career-areas .container .left span{
        font-size: 1rem;
        text-transform: uppercase;
    }
    
    #career-areas .container .left p{
        font-size: .85rem;
        line-height: 1.4rem;
        padding-top: 30px;
        padding-right: 30px;
    }
    
    #career-areas .container .right{
        
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding-top: 50px;
    }
    
    #career-areas .container img{
        
        height: 250px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.438);
        border: 6px solid rgb(0, 183, 255);
    }
}

@media screen and (max-width:378px) {
       #career-areas .container img{
        
        height: 200px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.438);
        border: 6px solid rgb(0, 183, 255);
    }
}

@media screen and (max-width:350px) {
    #career-areas .container .left h1{
        font-size: 1.5rem;
        text-transform: uppercase;
    }
    
    #career-areas .container .left span{
        font-size: .8rem;
        text-transform: uppercase;
    }
    
    #career-areas .container .left p{
        font-size: .7rem;
        line-height: 1.2rem;
        padding-top: 30px;
        padding-right: 30px;
    }

    #career-areas .container img{
        
        height: 200px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.438);
        border: 6px solid rgb(0, 183, 255);
    }
}