#life{
    /* min-height: 100vh; */

    padding: 50px 0;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

#life .container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

   
}

#life .container .left{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-left: 60px;
    width: 50%;
}

#life .container .left h1{
    font-size: 2.2rem;
    text-transform: uppercase;
}

#life .container .left span{
    font-size: 1.2rem;
    text-transform: uppercase;
}

#life .container .left p{
    font-size: .95rem;
    line-height: 1.4rem;
    padding-top: 15px;
}

#life .container .right{
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 60px;
    width: 50%;
}

#life .container .right img{
    /* border: 5px solid rgb(0, 153, 255); */
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678);
    border-radius: 20px;
}

#life .container-right{
    width: 100%;
    padding: 100px 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;

   
}

#life .container-right .left{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-right: 60px;
    width: 50%;
}

#life .container-right .left h1{
    font-size: 2.2rem;
    text-transform: uppercase;
}

#life .container-right .left span{
    font-size: 1.2rem;
    text-transform: uppercase;
}

#life .container-right .left p{
    font-size: .95rem;
    line-height: 1.4rem;
    padding-top: 15px;
}

#life .container-right .right{
    
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    width: 50%;
}

#life .container-right .right img{
    /* border: 5px solid rgb(0, 153, 255); */
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.678);
    border-radius: 20px;
}

@media screen and (max-width:978px) {
    #life{
        /* min-height: 100vh; */
    
        padding: 50px 0;
    
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    
    }
    
    #life .container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
       
    }
    
    #life .container .left{
        
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 30px;
        width: 100%;
    }
    
    #life .container .left h1{
        font-size: 1.8rem;
        text-transform: uppercase;
    }
    
    #life .container .left span{
        font-size: 1rem;
        text-transform: uppercase;
    }
    
    #life .container .left p{
        font-size: .85rem;
        line-height: 1.4rem;
        padding-top: 15px;
        padding-right: 30px;
    }
    
    #life .container .right{
        
        display: flex;
        align-items: center;
        justify-content: center;
        padding-right: 0px;
        width: 100%;
        padding: 40px 0;
    }
    
    #life .container .right img{
        /* border: 5px solid rgb(0, 153, 255); */
        height: 250px;
        
    }
}
