#contributors{
    /* height: 30vh; */
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#contributors .cont-text{ 
    width: 100%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}

#contributors .cont-text h1{
    font-size: 2.5rem;
    font-family: lato, sans-serif;
    color: rgb(0, 0, 0);
    width: 100%;
    text-align: left;
}

#contributors .cont-text .underline{
    margin: 20px 0;
    height: 4px;
    width: 100px;
    background-color: rgb(3, 77, 138);
}


#contributors .sub-heading{
    font-size: 1.6rem;
    font-family: lato, sans-serif;
    color: rgb(0, 0, 0);
}

.names ul{
    display: flex;
    flex-wrap: wrap;

    align-items: flex-start;
    justify-content: flex-start;

    margin: 30px 60px;
}

.names ul li{

    list-style: none;
    margin: 7px 9px;
    font-size: 1.4rem;
    font-family: lato, sans-serif;
    color: rgb(0, 0, 0);
}


@media screen and (max-width:798px){
    #contributors{
        display: block;
    }

    #contributors .cont-text{
        margin-top: 60px;
    }

    .names ul li{

        list-style: none;
        margin: 7px 9px;
        font-size: 1.1rem;
        font-family: lato, sans-serif;
        color: rgb(0, 0, 0);
    }

    .names ul{
        display: flex;
        /* flex-wrap: wrap; */

        flex-direction: column;
    
        align-items: flex-start;
        justify-content: flex-start;
    
        margin: 30px 30px;
    }
}