#funds{
    /* min-height: 100vh; */

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 150px 0 100px 0;
}

#funds .funds-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    width: 50%;
    /* height: 40%; */
    padding-left: 5%;
}

#funds .chart{
    width: 50%;
    margin: 0 20px 0 0;
}

#funds .funds-text h1{
    font-size: 1.5em;
    /* font-family: 'Satisfy', cursive; */
    color: rgb(0, 0, 0);
    width: 100%;
    text-align: left;
    /* padding-left: 2.5%; */
}

#funds .funds-text .underline{
    margin: 20px 0;
    height: 4px;
    width: 100px;
    background-color: rgb(3, 77, 138);
}

#funds .funds-text p{
    font-size: 1.1em;
}



@media screen and (max-width:450px){
    #funds{
        height: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
       padding: 100px 0;
    
    }

    #funds .funds-text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    
        /* padding: 0 0; */
        width: 95%;
        height: unset;
    }

    
    #funds .chart{
        width: 95%;
        margin: 0 auto;
    }

    #myChart{
        margin: 20px auto;
        width: 100%;
    }

    .pie-chart{
        width: 100%;
        margin: 20px 0;
    }
}