#intro{
    /* height: 100vh; */

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0;

}

#intro .intro-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    width: 60%;
    padding-left: 5%;
    /* height: 40%; */
}

#intro .chart{
    width: 40%;
    margin: 0 20px 0 0;
}

#intro .intro-text h1{
    font-size: 1.5em;
    /* font-family: 'Satisfy', cursive; */
    color: rgb(0, 0, 0);
    width: 100%;
    text-align: left;
    /* padding-left: 2.5%; */
}

#intro .intro-text p{
    font-size: 1.1em;
    /* padding: 15px 30px; */
}

#intro .intro-text .underline{
    margin: 20px 0;
    height: 4px;
    width: 100px;
    background-color: rgb(3, 77, 138);
}

#intro .read-more-button{
    margin-top: 20px;
}


#intro .chart{
    display: flex;
    align-items: center;
    justify-content: center;
}

#intro .chart .group-one{
    margin-top: 20px;
}

#intro .chart .group-two{
    margin-bottom: 20px;
}


#intro .chart .card{
    height: 200px;
    width: 150px;
    margin: 15px;
    background-color: rgb(241, 241, 241);
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.6);
    transition: .2s ease-in-out 0s;
}

#intro .chart .card:hover{
    box-shadow: 5px 5px 5px rgba(68, 68, 68, 0.9);
    cursor: pointer;
}


@media screen and (max-width:450px){
    #intro{
        height: unset;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }

    #intro .intro-text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    
        padding-top: 50px;

        width: 95%;
        height: unset;
    }
    
    #intro .chart{
        width: 95%;
        margin: 0 auto;
    }

    #myChart{
        margin: 20px auto;
        width: 100%;
    }
}