
#slabs{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 150px 0 0 0;
}

#slabs .slabs-heading{
  padding-left: 5%;
  text-align: left;
  width: 100%;
}

#slabs .slabs-heading h1{
  font-size: 1.5em;
  /* font-family: 'Satisfy', cursive; */
  color: rgb(0, 0, 0);
  width: 100%;
  text-align: left;

}

#slabs .slabs-heading .underline{
  margin: 20px 0;
  height: 4px;
  width: 100px;
  background-color: rgb(3, 77, 138);
}

#slabs .slabs-heading .sub-heading{
  font-size: 1.5em;
  font-family: 'Satisfy', cursive;
  color: rgb(255, 0, 179);

}

#slabs .container {
  padding: 50px 0;
  width: 100%;
  display: flex;
}

#slabs .container .left{
  width: 50%;
  height: unset;
  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;
}

#slabs .container .left .card-container{
  display: flex;
  align-items: center;
  justify-content: center;

  flex-wrap: wrap;

  padding: 0 30px;

}

#slabs .container .right{
  width: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
}


#slabs .container .card{
  height: 175px;
  width: 175px;
  background-color: rgb(243, 243, 243);
  /* box-shadow: 0 8px 16px 0 rgba(0,0,0,.4); */
  margin: 5px;

}


#slabs .container .card:hover{
  /* background-color: rgb(243, 243, 243); */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}

#slabs .container .payment-box{
  height: 625px;
  width: 475px;
  background-color: rgb(241, 241, 241);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
  position: relative;
}

/* #block-one{display: block;} */

#slabs .container .underline{
  margin: 30px 0 15px 30px;
  width: 40px;
}


#slabs .container .payment-box .page-name{
  font-size: 1rem;
  font-weight: 600;
  margin-left: 30px;
  /* text-transform: uppercase; */
}

#slab-name{
  margin: 30px 30px 0 30px;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 400;
}

#slab-details{
  margin: 10px 30px 0 30px;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.2rem;
}

.click-here{
  /* margin: 10px 30px 0 30px; */
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.2rem;
}

.amount-details{
  margin: 30px 30px 0 30px;

  padding: 13px 8px;
  font-size: .8rem;
  font-weight: 400;
  line-height: 1.2rem;
  color: rgb(0, 0, 0);
  position: absolute;
  right: 0;

  border: .14rem solid rgb(3, 77, 138);

  width: 190px;
  height: 48px;

  /* background-color: rgb(253, 253, 253); */

}

#payment-amount{
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 400;

  position: inherit;
  right: 10px;
}

#rupee-symbol{
  position: inherit;
  font-size: 1.4rem;
  left: 10px;
}

.amount-title{
  position: inherit;
  top: -10px;
  padding: 0 8px;
  background-color: rgb(243, 243, 243);
}



.check-out{
  font-size: 1rem;
  font-weight: 700;
  margin: 100px 0 0 30px;
}

.checkout-details{
  margin: 10px 30px 0 30px;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.2rem;
}

.razorpay-payment{
  position: absolute;
  bottom: 30px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.googlepay-payment{
  display: none;
  
}

.payment-raz{

  margin: 30px 30px 0 30px;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.2rem;
}

.raz{
  margin: 10px 30px 0 30px;
}

.qr-pay{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0px;
  bottom: 30px;
}

.payment-gpay{
 
  bottom: 210px;
  margin: 15px 35px 0 30px;
  font-size: .75rem;
  font-weight: 400;
  line-height: 1.2rem;
}

.upi-id{
  

  font-size: .85rem;
  font-weight: 400;
  line-height: 1.2rem;
  margin-top: 10px;
}

.qr{
  height: 150px;
  margin: 10px 0;
  /* display: none; */
}

.slab-active{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
}

.upi-button{
  margin: 10px 0px 4px 0px;
  height: 42px;
  background-color: #fff;
  width: 162px;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 4px;
 border: .15rem solid rgb(175, 175, 175);
}

.upi-image{
  height: 30px;
}

#qrcode{
  /* display: none; */
  /* opacity: 0; */
}

#qrcode img{
  width:  120px!important;
  height: 120px!important;
  /* margin-top:15px; */

 
}


#get-qr{
  
  margin: 10px 5px 0 0;
  height: 38px;
  background-color: #fff;
  width: 158px;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 4px;
 border: .1rem solid black;
 text-decoration: none;
 color: black;

}

.qr-buttons{
  display: flex;
  flex-direction: row-reverse;
}

#text{
  opacity: 0;
}


#pay-load-two {
  display: none;

 
  align-items: center;
  justify-content: center;
  width: 100%!important;
  /* width: 50px!important;
  height: 50px!important; */

  /* transform: translateX(50%)!important; */

  /* position: relative; */
}

#pay-load{
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  position: absolute;
  margin: 150px 0;
  /* display: none; */
}

#slabs .container .loader{
  border: 6px solid #f3f3f3; /* Light grey */
  border-top: 6px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin: 200px 0;
  /* display: none; */
}

#loading-alert{

  /* display: flex;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 100%; */

}


#loading-alert img{
  height: 50px;
}

#sendbut{
  opacity: 0;
}

#edit-money{
  display: none;

  margin: 10px 0px 0 0;
  /* height: 38px; */
  padding: 10px 0;
  background-color: #fff;
  width: 100px;
   border-radius: 4px;
   border: .1rem solid black;
  text-decoration: none;
  color: black;
  text-align: center;

  font-size: .8rem;
}

#mobile-upi{
  display: none;
}

.state-select{
  padding-bottom: 20px;
}

.payment-instructions{
  padding-top: 20px;
  font-size: .8rem;
}

#thank-you{
  background-image: url(../thank-you.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.generated-qr{
  width: 100%;
  height: 100%!important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width:768px){
  #slabs .container {
    padding: 50px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #mobile-upi{
    display: block;
  }
  

  #slabs .container .left .card-container{
    display: flex;
    align-items: center;
    justify-content: center;
  
    flex-wrap: wrap;
  
    padding: 0 0px;
  
  }
  
  .qr-buttons{
    display: flex;
    flex-direction: column-reverse;
  }

  
#get-qr{
  
  margin: 10px 0px 0 0;
  height: 38px;
  background-color: #fff;
  width: 158px;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 4px;
 border: .1rem solid black;
 text-decoration: none;
 color: black;

}

#upi-cone .upi-button{
  margin: 10px 0px 0 0px;
  height: 38px;
  background-color: #fff;
  width: 158px;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: 4px;
 border: .1rem solid black;
 left: 0;
}
  
  
  #slabs .container .left{
    width: 100%;
    height: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  #slabs .container .right{
    width: 100%;
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #slabs .container .card{
    height: 175px;
    width: 350px;
    background-color: rgb(243, 243, 243);
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,.4); */
    margin: 5px;
  
  }

  #slabs .container .payment-box{
    height: 735px;
    width: 375px;
    background-color: rgb(241, 241, 241);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
    position: relative;
  }

  .check-out{
    font-size: 1rem;
    font-weight: 700;
    margin: 100px 0 0 30px;
  }

  .checkout-details{
    margin: 10px 30px 0 30px;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.2rem;
  }

  .qr{
    height: 120px;
    margin: 10px 0;
    /* display: none; */
  }

  .payment-gpay{
    
  }

  .qr-pay{
  position: absolute;
  bottom: 120px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  }

  .upi-button{
    position: relative;
    left: 30px;
  }
/* 
  .googlepay-payment{
    display: block;

    position: absolute;
    bottom: 120px;


    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  } */

  #buttons{
    margin-top: 10px;
    margin-left: 30px;
  }
  
  
}

@media screen and (max-width:378px){

  #slabs .container .card{
    height: 175px;
    width: 330px;
    background-color: rgb(243, 243, 243);
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,.4); */
    margin: 5px;
  
  }

  #slabs .container .payment-box{
    height: 750px;
    width: 345px;
    background-color: rgb(241, 241, 241);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
    position: relative;
  }

  /* .qr-pay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    bottom: 200px;
  } */

  .qr{
    height: 120px;
    margin: 10px 0;
    /* display: none; */
  }
}

@media screen and (max-width:350px){

  #slabs .container .card{
    height: 175px;
    width: 300px;
    background-color: rgb(243, 243, 243);
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,.4); */
    margin: 5px;
  
  }

  #slabs .container .payment-box{
    height: 820px;
    width: 300px;
    background-color: rgb(241, 241, 241);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
    position: relative;
  }

  /* .qr-pay{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    bottom: 200px;
  } */

  .qr{
    height: 120px;
    margin: 10px 0;
    /* display: none; */
  }
}