
#slabs{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#slabs .slabs-heading{
  padding-left: 5%;
  text-align: left;
  width: 100%;
}

#slabs .slabs-heading h1{
  font-size: 1.5em;
  /* font-family: 'Satisfy', cursive; */
  color: rgb(0, 0, 0);
  width: 100%;
  text-align: left;

}

#slabs .slabs-heading .underline{
  margin: 20px 0;
  height: 4px;
  width: 100px;
  background-color: rgb(3, 77, 138);
}

#slabs .slabs-heading .sub-heading{
  font-size: 1.5em;
  font-family: 'Satisfy', cursive;
  color: rgb(255, 0, 179);

}

#slabs .container {
    width: 80%;
    display: flex;
    /* border-radius: 15px; */
    margin-top: 30px;
    
}

.slab-container{
    width: 50%;

    
}


.slab-container .slabs{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    /* height: 70px; */
    background-color: rgb(32, 69, 105);
    
}

.slab-container .border{
    border-bottom: 1px solid rgb(255, 255, 255);
}

.slab-container .slabs .text{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 90%;
    height: 50px;
    
}

.slab-container .slabs .text h3{
  font-size: 1.2em;
  width: 40%;
  font-weight: 600;
  color: rgb(238, 238, 238);
  
}

.slab-container .slabs .text .amount{
  position: absolute;
  left: 100px;
  font-size: .8em;
  font-weight: 600;
  color: rgb(209, 209, 209);
  
}

.slab-container .slabs .slab-image{
  padding-right: 10px;
}

.slab-container .slabs .slab-image img{
height: 40px;
}

.slab-container .slabs .slab-tooltip{

}

.slab-container .slabs .slab-tooltip img{
height: 15px;
}



.slab-container .slabs .text p{
  width: 60%;
  color: rgb(247, 247, 247);
  
}

.slab-container .slabs .arrow{
    padding: 0 15px;
}

.slab-container .slabs:hover {
    cursor: pointer;
    background-color: rgb(37, 52, 66);
    /* width: 105%; */
}

.slab-container .slabs:hover .fa-angle-right{
    color: 224, 224, 224!important;
}

.slab-properties{
    background-color: rgb(241, 241, 241);
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.slab-properties .property {
    height: 20%;
    /* border: 1px solid black; */
}

#propHeading{
  position: absolute;
  top: 30px;
  left: 50%;
  padding-left: 40px;
    /* width: 100%; */
    text-align: center;
    /* margin-top: 20px; */
    font-size: 1.3em;
    color: rgb(0, 0, 0);
}

#propOne{
  position: absolute;
  top: 50px;
  left: 50%;
  padding-left: 40px;

    text-align: left;
    margin-top: 10px;
    font-size: 1em;
    color: rgb(0, 0, 0);
}

#goodies{

  position: absolute;
  top: 90px;
  padding-left: 150px;
  left: 50%;

    /* width: 100%; */
    text-align: left;
    margin-top: 10px;
    line-height: 1.5em;
    font-weight: 500;
    font-size: .85em;
    color: rgb(255, 0, 179);

}

.propImage{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#myImage{
 
  position: absolute;
  top: 90px;
  left: 50%;
  padding-left: 40px;
    height: 100px;
    /* margin-top: 20px; */
}


.slab-active{
    cursor: pointer;
    background-color: rgb(34, 47, 61)!important;
}

.arrow-active{
    color: rgb(224, 224, 224)!important;
}

.payment{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 0px;
}

.text p{
  font-size: 14px;
}

#mob{
    display: none;
}



@media screen and (max-width:450px){

    #mob{
        margin-top: 20px;
        display: block;
        width: 95%;
    }

    

    #desktop{
        display: none!important;
        /* height: unset; */
    }

    .goodies{
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .goodies img{
      margin-right: 15px;
    }

    .goodies ul {
      list-style: none;
    }

    .col{
        width: 95%;
        margin: 30px auto 0 auto;
    }

    .accordion {
        position: absolute;
        opacity: 0;
        z-index: -1;
      }
      
      /* Accordion styles */
      .tabs {
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
      }
      
      .tab {
        width: 100%;
        color: white;
        overflow: hidden;
      }
      .tab-label {
        display: flex;
        justify-content: space-between;
        padding: 1em;
        background: #2c3e50;
        font-weight: bold;
        cursor: pointer;
        /* Icon */
      }
      .tab-label:hover {
        background: #1a252f;
      }
      .tab-label::after {
        content: "❯";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all 0.35s;
      }
      .tab-content {
        max-height: 0;
        padding: 0 1em;
        color: #2c3e50;
        background: white;
        transition: all 0.35s;
      }
      .tab-close {
        display: flex;
        justify-content: flex-end;
        padding: 1em;
        font-size: 0.75em;
        background: #2c3e50;
        cursor: pointer;
      }
      .tab-close:hover {
        background: #1a252f;
      }
      
      input:checked + .tab-label {
        background: #1a252f;
      }
      input:checked + .tab-label::after {
        transform: rotate(90deg);
      }
      input:checked ~ .tab-content {
        max-height: 100vh;
        padding: 1em;
      }


}