.payment-dialogue{
    .content{
        // min-height: 175px;
        
        .buttons{
            display: flex;
            align-items: center;
            justify-content: center;
            button{
                margin: 10px;
                background-color: #f3f3f3;
                .payment-image{
                    height: 125px;

                    @media screen and (max-width:420px) {
                        height: 90px;
                    }
                }
            }
        }

        .text{
            margin-top: 15px;
        }


       
       
    }
}

#section-one-crowd {
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  .styled-character-position {
    top: 35px;
    right: 50%;
  }

  .main-container {
    width: 100%;
    height: 100%;
    // background-color: #1a1a1a;
    // padding: 175px 60px 60px 60px;
    color: #505050;

    display: flex;
    align-items: center;
    justify-content: center;

    .underline {
      height: 0.15rem;
      width: 60px;
      background-color: tomato;
      margin: 5px 0;
    }

    .underline-small {
      height: 0.12rem;
      width: 30px;
      background-color: tomato;
      margin: 5px 0;
    }

    .left {
      height: 100%;
      width: 50%;
      position: relative;
      padding: 0 60px;

      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .section-subtitle {
        margin-top: 30px;
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 1.1rem;
        line-height: 1.6rem;
        @media screen and (max-width: 420px) {
          font-size: 0.95rem;
          line-height: 1.6rem;
        }

        @media screen and (max-width: 360px) {
          font-size: 0.85rem;
          line-height: 1.4rem;
        }
      }

      .section-title {
        // text-transform: capitalize;
        font-size: 3.2em;

        @media screen and (max-width: 420px) {
          font-size: 2rem;
        }

        @media screen and (max-width: 360px) {
          font-size: 1.8rem;
        }
        .change-color {
          text-transform: capitalize;
          font-size: 4.6rem;
          color: tomato;
          // color: rgb(255, 208, 0);
          // font-family: 'Roboto', sans-serif;

          @media screen and (max-width: 420px) {
            font-size: 3rem;
          }

          @media screen and (max-width: 360px) {
            font-size: 3.6rem;
          }
        }
      }

      .get-started {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 10px;

        .arrow {
          color: tomato;
          margin-left: 10px;
        }
      }

      .info-box {
        bottom: 0px;
        left: 0px;
        height: 115px;
        width: 95px;
        position: absolute;
        background-color: unset;


        @media screen and (max-width: 420px) {
          height: 100px;
        }

        .box-left {
          left: 60px;
          width: 225px;
          color: #000;

          @media screen and (max-width: 420px) {
            left: 30px;
            width: 200px;
          }
        }

        .box-right {
          right: -250px;
          @media screen and (max-width: 420px) {
            right: -200px;
          }
        }

        .arrow {
          font-size: 2.8rem;
          padding: 8px;
          border: 0.15rem solid tomato;
          border-radius: 100%;
        }
      }
    }

    .right {
      width: 50%;
      padding: 60px;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .link-block {
        position: relative;
        margin: 15px 0;
        width: 345px;
        background-color: #1a1a1a00;
        display: flex;
        align-items: center;
        justify-content: space-between;


        .in-page-link{
          display: flex;
          align-items: center;
          justify-content: space-between;
          text-decoration: none;
          color: #000;
          width: 100%;
        }

        .block {
          position: absolute;
          left: 0;
          height: 100%;
          width: 2px;
          background-color: tomato;

          @media screen and (max-width: 420px) {
            left: 15px;
          }
        }

        .block-info {
          padding-left: 30px;

          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;

          .title {
            letter-spacing: 0.1rem;
          }

          .sub-title {
            padding-bottom: 3px;
          }
        }

        .arrow {
          margin-left: 15px;
          border-radius: 100%;
          padding: 8px;
          font-size: 2.2rem;
          border: 0.15rem solid tomato;
        }
        @media screen and (max-width: 420px) {
          padding: 0 15px;
          width: 100%;
        }
        @media screen and (max-width: 390px) {
          // width: 275px;
        }
      }

      .turbo {
        // position: absolute;
        height: 450px;
        // opacity: 0.07;

        @media screen and (max-width: 1120px) {
          height: 400px;
        }

        @media screen and (max-width: 900px) {
          height: 340px;
        }

        @media screen and (max-width: 768px) {
          height: 340px;
        }
        @media screen and (max-width: 420px) {
          height: unset;
          width: 100%;
        }
        @media screen and (max-width: 390px) {
          // height: 280px;
          width: 100%;
        }
        @media screen and (max-width: 360px) {
          // height: 260px;
        }
      }
    }
  }
}

@media screen and (max-width:420px) {
    #section-one-crowd {
        height: unset;
        .main-container{
            flex-direction: column;
            padding: 0 30px;
            .left{
                padding: 0 0;
                height: 100vh;
                width: 100%;
            }
            .right{
                padding: 50px 0;
                width: 100%;
            }
        }
    }
}


#section-two-crowd{
    .main-container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 200px;
        padding: 0 60px;
        
        .box-data{
            height: 80px;
            width: 100px;
            background-color: #2a2a2a;

            display: flex;
            align-items: center;
            justify-content: center;

            span{
                color: rgb(180, 180, 180);
                font-size: 1.4rem;
                text-transform: uppercase;

                @media screen and (max-width:420px) {
                    font-size: 1rem;
                }
            }
        }

        .data{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;

            .text-small{
                font-size: 1.4rem;
                
                @media screen and (max-width:420px) {
                    font-size: 1.1rem;
                }
            }
        }
    }
}

@media screen and (max-width:420px) {
    #section-two-crowd{
        .main-container{
            padding: 50px 30px;
            height: 325px;
            align-items: flex-start;
            justify-content: flex-start;
            .box-data{

            }
            .data{
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-between;
            }
        }
    }
}

#section-three-crowd{
     .main-container{
   
        background-color: #1a1a1a;
        padding: 50px 0px;

        display: flex;
        align-items: center;
        justify-content: center;

        color: rgb(180, 180, 180);
        .left{
            width: 50%;
            padding: 0 120px 0 60px;
            .section-subtitle {
                margin-top: 30px;
                margin-bottom: 10px;
                font-weight: 700;
                font-size: .95rem;
                line-height: 1.6rem;
                @media screen and (max-width: 420px) {
                  font-size: 0.95rem;
                  line-height: 1.6rem;
                }
        
                @media screen and (max-width: 360px) {
                  font-size: 0.85rem;
                  line-height: 1.4rem;
                }
              }
        
              .section-title {
                // text-transform: capitalize;
                font-size: 3.2em;
        
                @media screen and (max-width: 420px) {
                  font-size: 3rem;
                }
        
                @media screen and (max-width: 360px) {
                  font-size: 2.8rem;
                }
                .change-color {
                  text-transform: capitalize;
                  font-size: 4.6rem;
                  color: tomato;
                  // color: rgb(255, 208, 0);
                  // font-family: 'Roboto', sans-serif;
        
                  @media screen and (max-width: 420px) {
                    font-size: 4rem;
                  }
        
                  @media screen and (max-width: 360px) {
                    font-size: 3.8rem;
                  }
                }
              }
        }

        .right{
            width: 50%;
            padding: 0 60px 0 0;
            .paper {
                background-color: #2a2a2a;
              }
              .table {
                // width: 475px;

                
      
                @media screen and (max-width: 530px) {
                  width: 380px;
                }
                @media screen and (max-width: 420px) {
                  width: 350px;
                }
      
                @media screen and (max-width: 390px) {
                  width: 310px;
                }
      
                @media screen and (max-width: 360px) {
                  width: 260px;
                }
      
                .pay-button{
                    margin: 0 0; 
                    padding: 0 0; 
                    color: rgb(207, 206, 206); 
                    .arrow{
                        font-size: 1rem;
                        margin-left: 5px;
                        color: tomato;
                    }
                }

                .table-head {
                  color: rgb(250, 250, 250);
                }
      
                .table-body {
                  color: rgb(207, 206, 206);
                }
      
                .cell {
                  border-color: #1a1a1a;
                  color: unset;
                }
              }
        }
    }
}

@media screen and (max-width:420px) {
    #section-three-crowd{
        .main-container{
            padding: 50px 30px;
            flex-direction: column;
            .left{
                
                padding: 50px 0;
                width: 100%;
            }
            .right{
                padding: 0 0;
                width: 100%;
            }
        }

    }
}

#section-four-crowd{ 
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
  
    .styled-character-position {
      top: 35px;
      right: 50%;
    }
  
    .main-container {
 
      padding: 100px 0;
      width: 100%;
      height: 100%;

      color: #505050;
  
      display: flex;
      align-items: center;
      justify-content: center;
  
      .underline {
        height: 0.15rem;
        width: 60px;
        background-color: tomato;
        margin: 5px 0;
      }
  
      .underline-small {
        height: 0.12rem;
        width: 30px;
        background-color: tomato;
        margin: 5px 0;
      }
      .left{
            height: 100%;
            width: 50%;
            position: relative;
            padding: 0 60px;
      
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
      
            .section-subtitle {
              margin-top:15px;
              margin-bottom: 10px;
              font-weight: 700;
              font-size: 1.1rem;
              line-height: 1.6rem;
              @media screen and (max-width: 420px) {
                font-size: 0.95rem;
                line-height: 1.6rem;
              }
      
              @media screen and (max-width: 360px) {
                font-size: 0.85rem;
                line-height: 1.4rem;
              }
            }
      
            .section-title {
              // text-transform: capitalize;
              font-size: 3.2em;
      
              @media screen and (max-width: 420px) {
                font-size: 2rem;
              }
      
              @media screen and (max-width: 360px) {
                font-size: 1.8rem;
              }
              .change-color {
                text-transform: capitalize;
                font-size: 4.6rem;
                color: tomato;
                // color: rgb(255, 208, 0);
                // font-family: 'Roboto', sans-serif;
      
                @media screen and (max-width: 420px) {
                  font-size: 3rem;
                }
      
                @media screen and (max-width: 360px) {
                  font-size: 3.6rem;
                }
              }
            }
      
            .get-started {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              margin-top: 10px;
      
              .arrow {
                color: tomato;
                margin-left: 10px;
              }
            }
      
            .info-box {
              bottom: 0px;
              left: 0px;
              height: 115px;
              width: 95px;
              position: absolute;
              background-color: unset;
      
      
              @media screen and (max-width: 420px) {
                height: 100px;
              }
      
              .box-left {
                left: 60px;
                width: 225px;
                color: #000;
      
                @media screen and (max-width: 420px) {
                  left: 30px;
                  width: 200px;
                }
              }
      
              .box-right {
                right: -250px;
                @media screen and (max-width: 420px) {
                  right: -200px;
                }
              }
      
              .arrow {
                font-size: 2.8rem;
                padding: 8px;
                border: 0.15rem solid tomato;
                border-radius: 100%;
              }
            }
        }

        .right{
            height: 100%;
            width: 50%;
            padding: 0 60px;

            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;

            .section-subtitle{
                margin-top: 10px;
                line-height: 1.6rem;
                font-size: .9rem;
            }
        }
    }
}