@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

@import './emer.css';
@import './test.css';
@import './how.css';
@import './vacc.css';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}




body{
    font-family: 'Montserrat', sans-serif; 
    color: rgb(23, 63, 53);
    transition: .3s ease 0s;
    /* overflow-x: hidden!important; */
    overflow-x: hidden;
    overflow-y: hidden;


      -webkit-user-select: none;
         -moz-user-select: -moz-none;
          -ms-user-select: none;
              user-select: none;
}

.navbar {
    background: #fff;
    
}

.logo a{
    color: #000!important;
}

.scroll-links{
    position: absolute;
    left: 50px;
    bottom: 20vh;
}

.scroll-links-two{
    position: absolute;
    left: 50px;
    bottom: 10vh;
}

.scroll-links-three{
    position: absolute;
    left: 280px;
    bottom: 10vh;
}

.scroll-links a, .scroll-links-two a{
   margin-right: 5px;
}

.secondary-dark-button{
    border: 2px solid rgb(0, 67, 129)!important;
    color: rgb(0, 67, 129)!important;
    font-weight: 500!important;
}

.secondary-dark-button:hover{
    color: #fff!important;
    background-color: rgb(0, 67, 129)!important;
}

.linkSecondaryButton{

    /* width: 170px; */

    /* width: 150px; */

    text-align: center;
    text-decoration: none;

    padding: 10px 25px;
    font-family: 'Montserrat', 'sans-seriff';
    font-size: 16px;
    border-radius: 30px;
    outline: none;
    color: #fff;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    transition: .2s ease-in-out 0s;
    font-weight: 500;
}

.linkSecondaryButton:hover{
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(0, 67, 129);
    color: #000;
    cursor: pointer;
    background-color: #fff;
}

.dropbtn{
    color: #000!important;
}

.navbar ul li a {
 color: #000!important;
}

.nav-link-color{
    color: rgb(255, 255, 255)!important;
}


.black{
    background-color: rgb(0, 0, 0)!important;
}

#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    
}

#career-box-main{
    height: 100%;
    width: 100%;
}

#career-heading-new{
    width: 100%;
    /* font-family: 'Satisfy', cursive; */
    height: 100vh;
    /* padding-bottom: 30px; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;

    background-image: url(../OG\ –\ 1\ \(1\).webp);
    /* background-position: top center; */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-position-y: -50%!important; */
    background-position-x: center;
}

#career-heading-new .cover-1{
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;

    /* background-color: rgba(255, 255, 255, 0.636); */
    font-size: 3rem;
}

#career-heading-new .cover-1 h2{
    width: 100%;
    text-align: left;
    padding: 0 5%;
    font-size: 1.4em;
    color: #000;
}

#career-heading-new .cover-1 p{
    padding: 0 5%;
    margin-top: 20px;
    width: 100%;
    text-align: left;
    font-size: .5em;
    color: #000;
}

.blue-box{
    position: absolute;
    right: 50px;
    height: 400px;
    width: 350px;
    background-color: rgb(3, 77, 138);


}

.blue-box .underline{
    position: absolute;
    right: 50px;
    top: 50px;
    height: 4px;
    width: 100px;
    background-color: #fff;
}

.blue-box .underline-heading{
    position: absolute;
    right: 50px;
    top: 70px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;

}

.blue-box .content{
    position: absolute;
    padding: 25px;
    top: 220px;
    color: #fff;
    font-size: 1.2em;
    text-align: left;
}

.blue-box .content-two{
    position: relative;
    padding: 25px;
    top: 60px;
    color: #fff;
    font-size: 1.2em;
    text-align: left;
}


.blue-box .content .first-capital{
    font-size: 1.5em;
}

.career-news-button{
    position: absolute;
    top: 300px;
    left: 25px;
}

.career-news-button-two{
    position: absolute;
    top: 140px;
    left: 25px;
}

.career-news-button-three{
    position: absolute;
    top: 200px;
    left: 25px;
}


.secondaryButton{
    padding: 10px 25px;
    font-family: 'Montserrat', 'sans-seriff';
    font-size: 16px;
    border-radius: 30px;
    outline: none;
    color: #fff;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgba(255, 255, 255, 0);
    transition: .2s ease-in-out 0s;
    font-weight: 500;
}

.secondaryButton:hover{
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(0, 67, 129);
    color: #000;
    cursor: pointer;
    background-color: #fff;

} 

@media screen and (max-width:768px) {

    .scroll-links{
        position: absolute;
        left: 25px;
        bottom: 140px;
    }
    
    .scroll-links-two{
        position: absolute;
        left: 25px;
        bottom: 90px;
    }
    
    .scroll-links-three{
        position: absolute;
        left: 25px;
        bottom: 40px;
    }


    
    .dropbtn{
        color: rgb(255, 255, 255)!important;
    }
    
    .navbar ul li a {
     color: rgb(255, 255, 255)!important;
    }

    .navbar {
        background-color: #000!important; 
    } 

    .logo a{
        color: #fff!important;
    }
    
}



@media screen and (max-width:765px){


    .linkSecondaryButton{
      font-size: 12px;
    }
    

    #career-heading-new .cover-1{
        width: 100%;
        height: 100%;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: left;
    
        background-color: rgba(255, 255, 255, 0.336);
        font-size: 2.2rem;
    }

    #career-heading-new .cover-1 h2{
        padding: 0 5%;
        /* font-size: 1.6em; */
    }
    
    #career-heading-new .cover-1 p{
        padding: 0 5%;
        margin-top: 20px;
        width: 100%;
        text-align: left;
        font-size: .6em;
        font-weight: 600;
    }
    

    .blue-box{
        position: absolute;
        top: 100vh;
        right: 0px;
        height: 50vh;
        width: 40vh;
        background-color: rgb(3, 77, 138);
    
    
    }

    .blue-box .content{
        position: absolute;
        padding: 0 25px;
        top: 230px;
        /* margin-top: 10px; */
        color: #fff;
        font-size: 1.3em;
        line-height: 1.4em;
        text-align: left;
       
    }
    .blue-box .content-two{
        position: relative;
        padding: 25px;
        top: 60px;
        color: #fff;
        font-size: 1.2em;
        text-align: left;
    }
    
    
    .blue-box .content .first-capital{
        font-size: 1.5em;
    }
    
    .career-news-button{
        position: absolute;
        top: 300px;
        /* bottom: 0; */
        left: 25px;
    }
    
    .career-news-button-two{
        position: absolute;
        top: 140px;
        margin-top: 10px;
        left: 25px;
    }
    
    .career-news-button-three{
        position: absolute;
        top: 200px;
        left: 25px;
    }

    .emerg{
        margin-top: 400px;
        padding: 25px 0;
    }

    .emerg .container{

        padding: 25px 0;
    }
    
    

    .non-tech{
        margin-top: 250px;
    
    }

    #career-heading-new .cover-1 h2{
        width: 100%;
        text-align: left;
        padding: 0 5%;
        font-size: 1.3em!important;
        color: #000;
    }
    
    #career-heading-new .cover-1 p{
        padding: 0 5%;
        margin-top: 20px;
        width: 100%;
        text-align: left;
        font-size: .5em;
        color: #000;
    }


    h2{
        font-size: 1.8em!important;
    }

}

@media screen and (max-width:380px) {

    .blue-box{
        position: absolute;
        top: 100vh;
        right: 0px;
        height: 60vh;
        width: 40vh;
        background-color: rgb(3, 77, 138);
    
    
    }
    
    .blue-box .content{
        position: relative;
        padding: 25px;
        top: 30%;
        color: #fff;
        font-size: 1em;
        line-height: 1.4em;
        text-align: left;
    }

    .career-news-button{
        position: absolute;
        top: 330px;
        left: 25px;
    }
    
    
}

@media screen and (max-width:350px) {

    
    .blue-box{
        position: absolute;
        top: 100vh;
        right: 0px;
        height: 70vh;
        width: 45vh;
        background-color: rgb(3, 77, 138);
    
    
    }
    
    .blue-box .content{
        position: relative;
        padding: 25px;
        top: 30%;
        color: #fff;
        font-size: 1em;
        line-height: 1.4em;
        text-align: left;
    }

    
    #career-heading-new .cover-1 h2{
        width: 100%;
        text-align: left;
        padding: 0 5%;
        font-size: 1.1em!important;
        color: #000;
    }
    
    #career-heading-new .cover-1 p{
        padding: 0 5%;
        margin-top: 20px;
        width: 100%;
        text-align: left;
        font-size: .5em;
        color: #000;
    }


    h2{
        font-size: 1.4em!important;
    }
    

    
}