.emerg{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emerg .container{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.emerg-to-heading{
    /* margin-left: 100px; */
    padding: 25px 0;
}

.emerg-to-heading h2{
    font-size: 3em;
    
}

.emerg-to-heading p{
    font-size: 1.5em;
    padding: 5px 0;
    
}

.emerg-to-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.emerg .emerg-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.emerg .emerg-image img{
    width: 90%;
}

.emerg .emerg-to-text{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.emerg .emerg-to-text img{
    margin: 20px;
}

.emerg .card-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.emerg .card{
    height: 80px;
    margin: 5px 5px;
    width: 350px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
   border-radius: 10px;
}

.emerg .card:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    background-color: rgb(231, 231, 231);
}

@media screen and (max-width:768px) {
    
    .emerg-to-heading{
        margin-left: 25px;
        /* padding: 25px 0; */
    }
    
}