.test{
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.test-heading{
   
    /* padding: 25px 0; */
}

.test-heading h2{
    font-size: 3em;
    margin-left: 100px;
    /* position: absolute; */
    margin-top: 20px;
    /* background-color: #fff; */
    color: #000;
    /* padding: 10px; */
    
}

.test-heading p{
    font-size: 1.5em;
    padding: 5px 0;
    margin-left: 100px;
    
}

.know-how-it{
    /* position: absolute; */
    /* padding-right: 100px; */
    left: 0;
    width: 100%;
}

.test-container{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.test .how-image{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.test .how-image img{
    height: 450px;
}

.test .test-text{
    width: 50%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.test .test-text .card{
    height: 80px;
    margin: 5px 0;
    width: 70%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 20px;
   border-radius: 10px;
}

.test .test-text .card:hover{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    background-color: rgb(231, 231, 231);
}



.test .vaccine-text img{
    margin: 20px;
}

@media screen and (max-width:768px) {
    .test-container {
        display: flex;
        flex-direction: column;
    }

    .test .how-image{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .test .how-image img{
        height: unset;
        width: 100%;
    }
    
    .test .test-text{
        width: 100%;
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .test-heading h2{
        font-size: 3em;
        margin-left: 25px;
        /* position: absolute; */
        margin-top: 20px;
        /* background-color: #fff; */
        color: #000;
        /* padding: 10px; */
        
    }
    
    .test-heading p{
        font-size: 1.5em;
        padding: 5px 0;
        margin-left: 25px;
        
    }

    .test .test-text .card{
        height: 80px;
        margin: 5px 0;
        width: 85%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
       display: flex;
       align-items: center;
       justify-content: space-between;
       padding: 0 20px;
       border-radius: 10px;
    }
}