#styled-heading{
    position: relative;
    font-size: 1.4rem;
    letter-spacing: .4rem;
    margin: 10px 0px;
    text-transform: capitalize;
    color: tomato;
    z-index: 1;
}

@media screen and (max-width:768px) {
    #styled-heading{
        font-size: 1.4rem;
    }
}

@media screen and (max-width:420px) {
    #styled-heading{
        font-size: 1.4rem;
    }
}

@media screen and (max-width:390px) {
    #styled-heading{
        font-size: 1.2rem;
    }
}

@media screen and (max-width:360px) {
    #styled-heading{
        font-size: 1rem;
    }
}
