@import './components/body.css';
@import './components/preloader.css';
@import './components/navbar.css';
@import './components/footer.css';
@import './components/underline.css';
@import './components/bluebox.css';
@import './components/primarybutton.css';
@import './components/sideline.css';
@import './components/masonry.css';
@import './components/podcastswiper.css';
@import './components/shopswiper.css';
@import './sections/intro.css';
@import './sections/home.css';
@import './sections/insights.css';
@import './sections/maya.css';
@import './sections/team.css';
@import './sections/careers.css';
@import './sections/recruit.css';
@import './sections/sponsor.css';
@import './sections/partners.css';
@import './sections/shop.css';
@import './sections/podcast.css';
@import '/src/utilities/fontAwesome.css';

:root{
    --navLinksFontSize: .85rem;
    --navLinksFontColor: #000;
    --navLogoFontSize: 1rem;
    --primaryBlue: rgb(0, 67, 129);

    /* Desktop view */

    --sectionHeadingFontSize: 2.2rem;
    --sectionSubHeadingFontSize: 1.2rem;
    --sectionParagraphFontSize: .95rem;
    --sectionParagraphLineHeight: 1.4rem;

    /* 978px and Smaller */

    --sectionHeadingFontSizeM: 1.8rem;
    --sectionSubHeadingFontSizeM: 1rem;
    --sectionParagraphFontSizeM: .85rem;
    --sectionParagraphLineHeightM: 1.4rem;

     /* 350px and Smaller */

     --sectionHeadingFontSizeXS: 1.5rem;
     --sectionSubHeadingFontSizeXS: 1rem;
     --sectionParagraphFontSizeXS: .7rem;
     --sectionParagraphLineHeightXS: 1.2rem;

}

#load{
    animation-name: button;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}


