.partner-with-us-container {
  #section-one-sponsors {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    .styled-character-position {
      top: 35px;
      right: 50%;
    }

    .main-container {
      width: 100%;
      height: 100%;
      background-color: #1a1a1a;
      // padding: 175px 60px 60px 60px;
      color: rgb(180, 180, 180);

      display: flex;
      align-items: center;
      justify-content: center;

      .underline {
        height: 0.15rem;
        width: 60px;
        background-color: tomato;
        margin: 5px 0;
      }

      .underline-small {
        height: 0.12rem;
        width: 30px;
        background-color: tomato;
        margin: 5px 0;
      }

      .left {
        height: 100%;
        width: 50%;
        position: relative;
        padding: 0 60px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        .section-subtitle {
          margin-top: 30px;
          margin-bottom: 10px;
          font-weight: 700;
          font-size: 1rem;
          line-height: 1.6rem;
          @media screen and (max-width: 420px) {
            font-size: 0.95rem;
            line-height: 1.6rem;
          }

          @media screen and (max-width: 360px) {
            font-size: 0.85rem;
            line-height: 1.4rem;
          }
        }

        .section-title {
          // text-transform: capitalize;
          font-size: 3.8rem;

          @media screen and (max-width: 420px) {
            font-size: 3rem;
          }

          @media screen and (max-width: 360px) {
            font-size: 2.8rem;
          }
          .change-color {
            text-transform: capitalize;
            font-size: 6rem;
            color: tomato;
            // color: rgb(255, 208, 0);
            // font-family: 'Roboto', sans-serif;

            @media screen and (max-width: 420px) {
              font-size: 4.4rem;
            }

            @media screen and (max-width: 360px) {
              font-size: 4rem;
            }
          }
        }

        .get-started {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-top: 10px;

          .arrow {
            color: tomato;
            margin-left: 10px;
           
          }
        }

        .info-box {
          bottom: 0px;
          left: 0px;
          height: 115px;
          width: 95px;
          position: absolute;
          background-color: var(--secondaryColor);

          @media screen and (max-width: 420px) {
            height: 100px;
          }

          .box-left {
            left: 60px;
            width: 225px;

            @media screen and (max-width: 420px) {
              left: 30px;
              width: 200px;
            }
          }

          .box-right {
            right: -250px;
            @media screen and (max-width: 420px) {
              right: -200px;
            }
          }

          .arrow {
            font-size: 2.8rem;
            padding: 8px;
            border: 0.15rem solid tomato;
            border-radius: 100%;
            color: rgb(180, 180, 180);
          }
        }
      }

      .right {
        width: 50%;
        padding: 60px;

        display: flex;
        align-items: center;
        justify-content: center;

        .turbo {
          // position: absolute;
          height: 450px;
          // opacity: 0.07;

          @media screen and (max-width: 1120px) {
            height: 400px;
          }

          @media screen and (max-width: 900px) {
            height: 340px;
          }

          @media screen and (max-width: 768px) {
            height: 340px;
          }
          @media screen and (max-width: 420px) {
            height: unset;
            width: 100%;
          }
          @media screen and (max-width: 390px) {
            // height: 280px;
            width: 100%;
          }
          @media screen and (max-width: 360px) {
            // height: 260px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    #section-one-sponsors {
      height: unset;
      display: flex;
      align-items: center;
      justify-content: center;

      .styled-character-position {
        top: 35px;
        right: 50%;
      }

      .main-container {
        width: 100%;
        height: 100%;
        background-color: #1a1a1a;
        // padding: 175px 60px 60px 60px;
        color: rgb(180, 180, 180);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .left {
          width: 100%;
          padding: 0 30px;
          height: 100vh;
        }

        .right {
          width: 100%;
          padding: 50px 30px;
        }
      }
    }
  }

  .section-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .main-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      // background-color: #1a1a1a;
      color: #505050;
      position: relative;

      .page-link {
        .page-link-text {
          display: flex;
          align-items: center;
          justify-content: center;

          // margin-top: 15px;
          // margin-bottom: 10px;
          // font-weight: 700;
          font-size: 1rem;
          line-height: 1.6rem;

          @media screen and (max-width: 420px) {
            font-size: 0.95rem;
            line-height: 1.4rem;
          }
          @media screen and (max-width: 390px) {
            font-size: 0.9rem;
            line-height: 1.2rem;
          }
          @media screen and (max-width: 360px) {
            font-size: 0.85rem;
            line-height: 1.2rem;
          }

          .arrow {
            margin-left: 10px;
            color: tomato;
          }
        }
      }

      .styled-character-position {
        width: 210px;
        margin-left: 0px;
        right: -30px;
        top: 30px;

        transform: rotateZ(-90deg);

        @media screen and (max-width: 600px) {
          margin-left: 0px;
        }

        @media screen and (max-width: 420px) {
          right: -50px;
          transform: rotateZ(-90deg);
          top: 100px;
          margin-left: 0;
        }
      }

      .underline {
        height: 0.15rem;
        width: 60px;
        background-color: tomato;
        // margin: 5px 0;
        margin-top: 15px;
      }

      .underline-small {
        height: 0.12rem;
        width: 30px;
        background-color: tomato;
        margin: 5px 0;
      }

      padding: 50px 0;
      .left {
        width: 50%;

        padding: 0 60px;

        display: flex;
        align-items: center;
        justify-content: center;

        .content-image {
          height: 400px;

          @media screen and (max-width: 768px) {
            height: unset;
            width: 80%;

            padding-bottom: 30px;
          }
        }

        .card {
          height: 255px;
          width: 400px;
          background-color: #2a2a2a;

          .fb-image {
            height: 85%;
          }
        }
      }

      .right {
        width: 50%;
        padding: 0 60px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        position: relative;

        .section-subtitle {
          margin-top: 15px;
          margin-bottom: 10px;
          font-weight: 700;
          font-size: 1.1rem;
          line-height: 1.6rem;

          @media screen and (max-width: 420px) {
            font-size: 0.95rem;
            line-height: 1.4rem;
          }
          @media screen and (max-width: 390px) {
            font-size: 0.9rem;
            line-height: 1.2rem;
          }
          @media screen and (max-width: 360px) {
            font-size: 0.85rem;
            line-height: 1.2rem;
          }
        }

        .section-title {
          // text-transform: capitalize;
          font-size: 3rem;
          @media screen and (max-width: 420px) {
            font-size: 2.4rem;
          }

          @media screen and (max-width: 390px) {
            font-size: 2.2rem;
          }
          @media screen and (max-width: 360px) {
            font-size: 2rem;
          }
          .change-color {
            text-transform: capitalize;
            font-size: 4rem;
            color: tomato;
            // color: rgb(255, 208, 0);
            // font-family: 'Roboto', sans-serif;
            @media screen and (max-width: 420px) {
              font-size: 3.2rem;
            }

            @media screen and (max-width: 390px) {
              font-size: 3rem;
            }
            @media screen and (max-width: 360px) {
              font-size: 2.8rem;
            }
          }
        }

        .get-started {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-top: 10px;

          .arrow {
            color: tomato;
            margin-left: 10px;
          }
        }

        .info-box {
          bottom: 0px;
          left: 0px;
          height: 115px;
          width: 95px;
          position: absolute;
          background-color: var(--secondaryColor);

          .box-left {
            left: 60px;
            width: 225px;

            @media screen and (max-width: 420px) {
              left: 30px;
              width: 200px;
            }
          }

          .box-right {
            right: -250px;
            @media screen and (max-width: 420px) {
              right: -200px;
            }
          }

          .arrow {
            font-size: 2.8rem;
            padding: 8px;
            border: 0.15rem solid tomato;
            border-radius: 100%;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .section-right {
      .main-container {
        flex-direction: column;
        .left {
          width: 100%;
          padding: 0 30px;
        }
        .right {
          width: 100%;
          padding: 0 30px;
        }
      }
    }
  }

  .section-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;

    .marker {
      position: absolute;
      top: -150px;
      height: 300px;
    }

    .main-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      position: relative;

      // background-color: #1a1a1a;
      color: #505050;

      padding: 50px 0;

      .page-link {
        .page-link-text {
          display: flex;
          align-items: center;
          justify-content: center;

          // margin-top: 15px;
          // margin-bottom: 10px;
          // font-weight: 700;
          font-size: 1rem;
          line-height: 1.6rem;

          @media screen and (max-width: 420px) {
            font-size: 0.95rem;
            line-height: 1.4rem;
          }
          @media screen and (max-width: 390px) {
            font-size: 0.9rem;
            line-height: 1.2rem;
          }
          @media screen and (max-width: 360px) {
            font-size: 0.85rem;
            line-height: 1.2rem;
          }

          .arrow {
            margin-left: 10px;
            color: tomato;
          }
        }
      }

      .styled-character-position {
        width: 210px;
        margin-left: 0px;
        right: -30px;
        top: 30px;

        transform: rotateZ(-90deg);

        @media screen and (max-width: 600px) {
          margin-left: 0px;
        }

        @media screen and (max-width: 420px) {
          right: -50px;
          transform: rotateZ(-90deg);
          top: 100px;
          margin-left: 0;
        }
      }

      .underline {
        height: 0.15rem;
        width: 60px;
        background-color: tomato;
        // margin: 5px 0;
        margin-top: 15px;
      }

      .underline-small {
        height: 0.12rem;
        width: 30px;
        background-color: tomato;
        margin: 5px 0;
      }

      .left {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        padding: 0 60px;

        .section-subtitle {
          margin-top: 15px;
          margin-bottom: 10px;
          font-weight: 700;
          font-size: 1.1rem;
          line-height: 1.6rem;

          @media screen and (max-width: 420px) {
            font-size: 0.95rem;
            line-height: 1.4rem;
          }
          @media screen and (max-width: 390px) {
            font-size: 0.9rem;
            line-height: 1.2rem;
          }
          @media screen and (max-width: 360px) {
            font-size: 0.85rem;
            line-height: 1.2rem;
          }
        }

        .section-title {
          // text-transform: capitalize;
          font-size: 3rem;
          @media screen and (max-width: 420px) {
            font-size: 2.4rem;
          }

          @media screen and (max-width: 390px) {
            font-size: 2.2rem;
          }
          @media screen and (max-width: 360px) {
            font-size: 2rem;
          }
          .change-color {
            text-transform: capitalize;
            font-size: 4rem;
            color: tomato;
            // color: rgb(255, 208, 0);
            // font-family: 'Roboto', sans-serif;
            @media screen and (max-width: 420px) {
              font-size: 3.2rem;
            }

            @media screen and (max-width: 390px) {
              font-size: 3rem;
            }
            @media screen and (max-width: 360px) {
              font-size: 2.8rem;
            }
          }
        }

        .get-started {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-top: 10px;

          .arrow {
            color: tomato;
            margin-left: 10px;
          }
        }

        .info-box {
          bottom: 10px;
          left: 0px;
          height: 115px;
          width: 95px;
          position: absolute;
          background-color: var(--secondaryColor);

          .box-left {
            left: 60px;
            width: 225px;
          }

          .box-right {
            right: -250px;
          }

          .arrow {
            font-size: 2.8rem;
            padding: 8px;
            border: 0.15rem solid tomato;
            border-radius: 100%;
          }
        }
      }

      .right {
        width: 50%;
        padding: 0 60px;

        display: flex;
        align-items: center;
        justify-content: center;
        .content-image {
          height: 400px;
          @media screen and (max-width: 768px) {
            height: unset;
            width: 80%;
            padding-bottom: 30px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    .section-left {
      .main-container {
        flex-direction: column-reverse;
        .left {
          width: 100%;
          padding: 0 30px;
        }
        .right {
          width: 100%;
          padding: 0 30px;
        }
      }
    }
  }

  #section-six-sponsor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .main-container {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 550px;

      background-color: #1a1a1a;
      color: rgb(180, 180, 180);
      width: 100%;
      padding: 0 0;

      .underline {
        height: 0.15rem;
        width: 60px;
        background-color: tomato;
        margin-top: 15px;
      }

      .underline-small {
        height: 0.12rem;
        width: 30px;
        background-color: tomato;
        margin: 5px 0;
      }

      .page-link{
        text-decoration: none;
      }

      .left {
        height: 100%;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 0 60px;

        position: relative;

        .button {
          margin-top: 10px;
        }

        .section-subtitle {
          margin-top: 15px;
          margin-bottom: 10px;
          font-weight: 700;
          font-size: 0.95rem;
          line-height: 1.6rem;

          @media screen and (max-width: 390px) {
            font-size: 0.75rem;
            line-height: 1.4rem;
          }
        }

        .section-title {
          // text-transform: capitalize;
          font-size: 2rem;

          @media screen and (max-width: 360px) {
            font-size: 1.6rem;
            // line-height: 1.4rem;
          }
          .change-color {
            text-transform: capitalize;
            font-size: 4rem;
            @media screen and (max-width: 360px) {
              font-size: 3rem;
              // line-height: 1.4rem;
            }
            color: tomato;
            // color: rgb(255, 208, 0);
            // font-family: 'Roboto', sans-serif;
          }
        }

        .get-started {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          margin-top: 10px;

          .arrow {
            color: tomato;
            margin-left: 10px;
          }
        }

        .info-box {
          bottom: 0px;
          left: 0px;
          height: 115px;
          width: 95px;
          position: absolute;
          background-color: var(--secondaryColor);

          .box-left {
            left: 60px;
            width: 225px;

            @media screen and (max-width: 420px) {
              left: 30px;
              width: 200px;
            }
          }

          .box-right {
            right: -250px;
            @media screen and (max-width: 420px) {
              right: -200px;
            }
          }

          .arrow {
            font-size: 2.8rem;
            padding: 8px;
            border: 0.15rem solid tomato;
            border-radius: 100%;
            color: rgb(180, 180, 180);
          }
        }
      }

      .right {
        width: 60%;
        padding: 0 60px;

        .card-container {
          display: flex;
          align-items: center;
          justify-content: center;
          // flex-wrap: wrap;
          .card {
            height: 275px;
            width: 185px;
            background-color: #2a2a2a;
            margin: 10px;

            font-size: 0.8rem;
            line-height: 1.2rem;
            color: rgb(180, 180, 180);
            font-weight: 700;

            .card-content {
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: flex-start;
              // padding: 15px;

              @media screen and (max-width: 420px) {
                flex-direction: row;
                justify-content: center;
              }
            }

            .card-info {
              margin-top: 15px;
            }

            .card-image {
              height: 100px;

              @media screen and (max-width: 420px) {
                height: unset;
                width: 30%;
                margin-right: 10px;
              }
            }

            .image-left {
              transform: perspective(500px) rotateY(15deg);
              @media screen and (max-width: 420px) {
                transform: unset;
              }
            }

            .image-right {
              transform: perspective(500px) rotateY(-15deg);
              @media screen and (max-width: 420px) {
                transform: unset;
              }
            }
          }

          .left-tilt {
            transform: perspective(500px) rotateY(15deg);

            @media screen and (max-width: 420px) {
              transform: unset;
            }
          }

          .right-tilt {
            transform: perspective(500px) rotateY(-15deg);
            @media screen and (max-width: 420px) {
              transform: unset;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 884px) {
    #section-six-sponsor {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .main-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: unset;

        background-color: #1a1a1a;
        color: rgb(180, 180, 180);
        width: 100%;
        padding: 0px 0;

        .left {
          width: 100%;
          padding: 0 30px;

          height: 550px;
        }

        .right {
          width: 100%;
          padding: 0 40px;

          .card-container {
            padding: 30px 0;

            @media screen and (max-width: 450px) {
              flex-wrap: wrap;
            }
            .card {
              height: 200px;
              margin: 10px;
              width: 100%;

              @media screen and (max-width: 420px) {
                height: 150px;
              }

              @media screen and (max-width: 420px) {
                margin: 15px 0;
              }
            }
          }
        }
      }
    }
  }

  #section-seven-sponsor {
    height: 550px;

    display: flex;
    align-items: center;
    justify-content: center;
    .main-container {
      height: 100%;
      padding: 50px 0;
      background-color: #1a1a1a;

      display: flex;
      align-items: center;
      justify-content: center;

      color: rgb(180, 180, 180);

      position: relative;
      .styled-character-position {
        width: 210px;
        margin-left: 0px;
        right: -30px;
        // left: 60px;
        top: 30px;

        transform: rotateZ(-90deg);

        @media screen and (max-width: 600px) {
          margin-left: 0px;
          left: unset;
        }

        @media screen and (max-width: 420px) {
          right: -50px;
          transform: rotateZ(-90deg);
          top: 100px;
          margin-left: 0;
        }
      }

      // color: #505050;

      .underline {
        height: 0.15rem;
        width: 60px;
        background-color: tomato;
        margin-top: 15px;
      }

      .underline-small {
        height: 0.12rem;
        width: 30px;
        background-color: tomato;
        margin: 5px 0;
      }
      .left {
        padding: 0 60px;
        width: 50%;

        position: relative;

        .info-box {
          bottom: 0px;
          left: 0px;
          height: 115px;
          width: 95px;
          position: absolute;
          background-color: var(--secondaryColor);

          .box-left {
            left: 60px;
            width: 225px;

            @media screen and (max-width: 420px) {
              left: 30px;
              width: 200px;
            }
          }

          .box-right {
            right: -250px;
            @media screen and (max-width: 420px) {
              right: -200px;
            }
          }

          .arrow {
            font-size: 2.8rem;
            padding: 8px;
            border: 0.15rem solid tomato;
            border-radius: 100%;
          }
        }

        .section-subtitle {
          margin-top: 15px;
          margin-bottom: 10px;
          font-weight: 700;
          font-size: 0.95rem;
          line-height: 1.6rem;

          @media screen and (max-width: 390px) {
            font-size: 0.75rem;
            line-height: 1.4rem;
          }
        }

        .section-title {
          margin-top: 10px;
          // text-transform: capitalize;
          font-size: 3.4rem;

          @media screen and (max-width: 420px) {
            font-size: 3rem;
          }

          @media screen and (max-width: 390px) {
            font-size: 2.8rem;
          }

          @media screen and (max-width: 360px) {
            font-size: 2.4rem;
          }

          .change-color {
            text-transform: capitalize;
            font-size: 6rem;
            color: tomato;
            // color: rgb(255, 208, 0);
            // font-family: 'Roboto', sans-serif;

            @media screen and (max-width: 420px) {
              font-size: 4.4rem;
            }

            @media screen and (max-width: 390px) {
              font-size: 4rem;
            }

            @media screen and (max-width: 360px) {
              font-size: 3.6rem;
            }
          }
        }
      }
      .right {
        padding: 0 60px;
        width: 50%;
        // height: 100%;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;

        position: relative;
        .block {
          width: 5px;
          height: 175px;
          background-color: tomato;
          position: absolute;
          left: -30px;
        }
        .button {
          margin-top: 10px;
        }

        .turbo {
          position: absolute;
          height: 450px;
          opacity: 0.07;

          @media screen and (max-width: 1120px) {
            height: 400px;
          }

          @media screen and (max-width: 900px) {
            height: 340px;
          }

          @media screen and (max-width: 768px) {
            height: 340px;
          }
          @media screen and (max-width: 420px) {
            height: 320px;
          }
          @media screen and (max-width: 390px) {
            height: 280px;
          }
          @media screen and (max-width: 360px) {
            height: 260px;
          }
        }

        .section-subtitle {
          // margin-top: 15px;
          margin-bottom: 10px;
          font-weight: 700;
          font-size: 0.95rem;
          line-height: 1.6rem;

          @media screen and (max-width: 390px) {
            font-size: 0.75rem;
            line-height: 1.4rem;
          }
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    #section-seven-sponsor {
      height: 100vh;
      .main-container {
        flex-direction: column;
        .left {
          width: 100%;
          padding: 0 30px;
        }
        .right {
          width: 100%;
          padding: 0 30px;
        }
      }
    }
  }
}
