#about-us{
    min-height: 100vh;

    /* padding: 100px 0; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#about-us .container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about-us .container .left{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    width: 50%;
}

#about-us .container .left h1{
    font-size: 2.2rem;
    text-transform: uppercase;
}

#about-us .container .left span{
    font-size: 1rem;
    text-transform: uppercase;
}

#about-us .container .left p{
    font-size: .95rem;
    line-height: 1.4rem;
    padding-top: 30px;
}

#about-us .container .right{
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding: 0 30px;
}

#about-us .container .right h1{
    font-size: 2.4rem;
    text-transform: capitalize;
    font-weight: 400;
}
#about-us .container .right .big{
    font-size: 4.6rem;
    text-transform: uppercase;
    font-weight: 700;
}


#about-us .container .right span{
    font-size: 1rem;
    text-transform: uppercase;
}

#about-us .container .right p{
    font-size: .95rem;
    line-height: 1.4rem;
    padding-top: 30px;
}
