.main-blog-card{
    height: 375px;
    width: 600px;
    overflow: hidden;
    background-color: rgb(230, 230, 230);
    box-shadow: 0px 20px 20px 0px rgba(0,0,0,0.4);
/* 
    display: flex;
    align-items: center;
    justify-content: center; */
    position: relative;

    background-image: url(../assets/weekly.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}

.main-blog-card .cover{
    height: 100%;
    widows: 100%;
    background-color: rgba(0, 0, 0, 0.205)
}

.main-blog-card .title-big{
    position: absolute;
    top: 100px;
    left: 30px;
    font-size: 6rem!important;
    font-weight: 700;
    color: rgb(255, 174, 0);
}

.main-blog-card .bottom-box{
    position: absolute;
    bottom: -275px;
    transform: rotateZ(3deg);
    background-color: rgb(255, 71, 101);
    height: 400px;
    width: 800px;
    margin-left: -100px;
}

.main-blog-card .date{
    position: absolute;
    height: 70px;
    width: 55px;
    bottom: 30px;
    left: 30px;
    border: 4px solid white;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    color: white;
}

.main-blog-card .title{
    color: white;
    position: absolute;
    bottom: 70px;
    left: 110px;
    font-size: 1.2rem!important;
    text-transform: uppercase!important;
}

.main-blog-card button{
    position: absolute;
    bottom: 90px;
    right: 10px;
    padding: 10px 15px 10px 40px;
    outline: none;
    border: none;
    font-weight: 700;
    font-size: 1rem;
    overflow: hidden;
    font-family: 'Montserrat';
    transition: .1s ease-in-out 0s;
}

.main-blog-card button span{
    position: absolute;
    height: 120px;
    width: 35px;
    transform: rotateZ(15deg);
    background-color: rgb(230, 226, 0);
    left: -10px;
    top: -20px;

    transition: .1s ease-in-out 0s;
}


.main-blog-card button:hover{
   cursor: pointer;
   background-color: rgb(230, 226, 0);
}

.main-blog-card button:hover span{
    background-color: rgb(0, 0, 0);
}

.main-blog-card .icons{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    list-style: none;

    position: absolute;
    right: 20px;
    bottom: 30px;
}

.main-blog-card .icons li{
    margin: 0px 10px;
}

.main-blog-card .fa{
    color: white;
}

.main-blog-card .details{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    position: absolute;
    bottom: 30px;
    left: 110px;

}

.main-blog-card .details li{
   margin-right: 30px;
}

.main-blog-card .author{
    color: #fff;
    font-size: .6rem!important;
}

.main-blog-card .author-name{
    font-size: .8rem!important;
    margin-left: 5px;
}

.main-blog-card .tag{
    color: #fff;
    font-size: .6rem!important;
}

.main-blog-card .tag-name{
    font-size: .8rem!important;
    margin-left: 5px;
}


.main-blog-card .loc{
    color: #fff;
    font-size: .6rem!important;
}

.main-blog-card .loc-name{
    font-size: .8rem!important;
    margin-left: 5px;
}