#news{
    min-height: 100vh;

    /* padding: 100px 0; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#news .container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#news .container .left{
    
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    padding-left: 60px;
    width: 50%;
}

#news .container .left h1{
    font-size: 2.2rem;
    text-transform: uppercase;
}

#news .container .left span{
    font-size: 1rem;
    text-transform: uppercase;
}

#news .container .left p{
    font-size: .95rem;
    line-height: 1.4rem;
    padding-top: 30px;
}

#news .container .right{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 0 30px;
    height: 100%;
    position: relative;
}

#news .container .right h1{
    font-size: 2.4rem;
    text-transform: capitalize;
    font-weight: 400;
}
#news .container .right .big{
    font-size: 4.6rem;
    text-transform: uppercase;
    font-weight: 700;
}


#news .container .right span{
    font-size: 1rem;
    text-transform: uppercase;
}

#news .container .right p{
    font-size: .95rem;
    line-height: 1.4rem;
    padding-top: 30px;
}


#news .left .card{
    height: 375px;
    width: 200px;
    /* background-color: black; */
    box-shadow: 0 10px 20px 0 rgba(0,0,0,.3);
    margin: 10px;
}

#news .left .card-left{
    margin-top: 80px;
    background-image: url(../../Ex-Assets/newsletter/images/image-14.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#news .left .card-cent{
    margin-bottom: 80px;
    background-image: url(../../Ex-Assets/newsletter/images/image-11.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#news .left .card-right{
    margin-bottom: 0px;
    background-image: url(../../Ex-Assets/newsletter/images/image-16.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
