// Career Page | Section one-careers

#section-one-careers {

  height: 850px;
  
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    @media screen and (max-width:1920px) {
      height: 100vh;
    }
  
    @media screen and (max-width:768px) {
      height: unset;
    }
  
  
    .main-container {

      background-color: #1a1a1a;
      color: var(--offWhiteColor);
      height: 100vh;
      width: 100%;
  
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
  
      .styled-character-position {
        // width: 210px;
        right: 50%;
        top: 35px;
  
        
        @media screen and (max-width: 600px) {
          margin-left: 0px;
        }
  
        @media screen and (max-width: 420px) {
          right: 0px;
          transform: rotateZ(-90deg);
          top: 100px;
          margin-left: 0;
        }
      }
  
      .left {
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 60px;
        position: relative;
  
        .section-title {
          position: relative;
          z-index: 1;
        }
  
        .block {
          position: absolute;
          height: 350px;
          width: 125px;
          left: 0;
          background-color: #2a2a2a;
          z-index: 0;
        }
  
        .sub-info {
          z-index: 1;
          margin-top: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-transform: capitalize;
  
          .arrow {
            color: tomato;
            margin-left: 10px;
          }
        }
  
        .info-box {
          height: 115px;
          width: 95px;
          position: absolute;
          bottom: 20px;
          left: 60px;
          display: flex;
          align-items: center;
          justify-content: center;
  
          .box-left {
            position: absolute;
            right: -195px;
            color: var(--offWhiteColor);
  
            @media screen and (max-width: 390px) {
              width: 210px;
              right: -120px;
            }
          }
  
          .box-right {
            position: absolute;
            right: 30px;
            .arrow {
              font-size: 2.8rem;
              padding: 8px;
  
              border: 0.15rem solid tomato;
              border-radius: 100%;
            }
          }
        }
      }
      .right {
        width: 50%;
        height: 100%;
        background-color: var(--primaryColorDarkGrey);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  
        .link-block {
          position: relative;
          margin: 15px 0;
          width: 345px;
          background-color: #1a1a1a00;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .in-page-link{
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-decoration: none;
            color: rgb(180,180,180);
            width: 100%;
          }
  
          .block {
            position: absolute;
            left: 0;
            height: 100%;
            width: 2px;
            background-color: tomato;
  
            @media screen and (max-width: 420px) {
              left: 15px;
            }
          }
  
          .block-info {
            padding-left: 30px;
  
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
  
            .title {
              letter-spacing: 0.1rem;
            }
  
            .sub-title {
              padding-bottom: 3px;
            }
          }
  
          .arrow {
            margin-left: 15px;
            border-radius: 100%;
            padding: 8px;
            font-size: 2.2rem;
            border: 0.15rem solid tomato;
          }
          @media screen and (max-width: 420px) {
            padding: 0 15px;
            width: 100%;
          }
          @media screen and (max-width: 390px) {
            // width: 275px;
          }
        }
  
        .turbo {
          position: absolute;
          height: 450px;
          opacity: 0.07;
  
          @media screen and (max-width: 1120px) {
            height: 400px;
          }
  
          @media screen and (max-width: 900px) {
            height: 340px;
          }
  
          @media screen and (max-width: 768px) {
            height: 340px;
          }
          @media screen and (max-width: 420px) {
            height: 320px;
          }
          @media screen and (max-width: 390px) {
            height: 280px;
          }
          @media screen and (max-width: 360px) {
            height: 260px;
          }
        }
  
        .info-box {
          height: 95px;
          width: 175px;
          position: absolute;
          bottom: 30px;
          right: 0px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #2a2a2a;
  
          .box-left {
            position: absolute;
            left: -160px;
            padding-right: 0px;
  
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            width: 200px;
            color: var(--offWhiteColor);
          }
  
          .box-right {
            position: absolute;
            right: 60px;
            .arrow {
              font-size: 2.8rem;
              padding: 8px;
              border: 0.15rem solid tomato;
              border-radius: 100%;
            }
          }
        }
      }
  
      .neo-block {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;
        left: 60px;
        bottom: 00px;
        height: 150px;
        width: 150px;
        border-radius: 15px;
        background: #1a1a1a;
        box-shadow: 20px 20px 44px #151515, -20px -20px 44px #1f1f1f;
  
        @media screen and (max-width: 768px) {
          bottom: 550px;
          left: unset;
          right: 60px;
        }
        @media screen and (max-width: 420px) {
          height: 100px;
          width: 100px;
          bottom: -50px;
          right: unset;
          left: 60px;
  
          .arrow-large {
            height: 75px;
          }
        }
      }
    }
  }
  
  @media screen and (max-width: 768px) {
    #section-one-careers {
      // background-color: var(--secondaryColor);
  
      .main-container {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
  
        .left {
          width: 100%;
          height: 100vh;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          padding-left: 60px;
          padding-right: 30px;
          position: relative;
  
          .block {
            position: absolute;
            height: 350px;
            width: 125px;
            left: 0;
          }
          .sub-info {
            z-index: 1;
            margin-top: 20px;
          }
  
          .div-box {
            height: 115px;
            width: 95px;
            position: absolute;
            bottom: 30px;
            left: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
  
            .box-left {
              position: absolute;
              right: -195px;
            }
  
            .box-right {
              position: absolute;
              right: 30px;
              .arrow {
                font-size: 2.8rem;
                padding: 8px;
                border: 0.15rem solid tomato;
                border-radius: 100%;
              }
            }
          }
        }
        .right {
          width: 100%;
          height: 400px;
          position: relative;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .block {
            height: 50px;
            width: 100%;
            position: absolute;
            background-color: unset;
  
            .side-line {
              background-color: unset;
            }
          }
  
          .info-box {
            height: 115px;
            width: 115px;
            position: absolute;
            bottom: -50px;
            left: 0px;
  

            display: flex;
            align-items: center;
            justify-content: center;
  
            .box-left {

              position: absolute;
              left: 30px;
              padding-right: 0px;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: flex-end;
              width: 175px;
            }
  
            .box-right {
              position: absolute;
              right: -155px;
              .arrow {
                font-size: 2.8rem;
                padding: 8px;
                border: 0.15rem solid tomato;
                border-radius: 100%;
              }
            }
          }
        }
      }
    }
  }
  