#section-two-careers {

  display: flex;
  align-items: center;
  justify-content: center;
  // height: 100vh;
  .main-container {
    min-height: 100%;
    background-color: #1a1a1a;

    padding: 80px 60px;

    color: rgb(180, 180, 180);

    .role-container {
      padding: 60px 0;
      .section-title {
        margin-top: 10px;
      }

      .section-subtitle {
      }

      .underline {
        height: 0.15rem;
        width: 60px;
        background-color: tomato;
        margin: 8px 0;
      }

      .underline-small {
        height: 0.12rem;
        width: 30px;
        background-color: tomato;
        margin: 8px 0;
      }

      .card-container {
        padding-top: 50px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;

        .career-card {
          height: 200px;
          width: 31.3%;
          margin: 1% 1%;
          border-radius: 5px;
          background: #2a2a2a !important;
          // box-shadow:  5px 5px 8px #151515,
          //             -5px -5px 8px #1f1f1f;
          padding: 15px;

          color: rgb(180, 180, 180) !important;

          display: flex;
          // flex-direction: column;
          align-items: center;
          justify-content: center;
          position: relative;

          .card-content {
            height: 100%;
            .card-title {
              text-transform: capitalize;
            }

            .card-subtitle {
              margin-top: 5px;
            }
          }

          .card-image {
            position: absolute;
            opacity: 0.07;
            height: 120px;
            filter: grayscale(100);
          }

          .link-button {
            position: absolute;
            right: 15px;
            bottom: 15px;
            //    border-color: rgb(180,180,180);
            //    color: rgb(180,180,180);
          }

          @media screen and (max-width: 1000px) {
            width: 45%;
          }

          @media screen and (max-width: 620px) {
            width: 100%;
          }

          .member-info {
            margin-left: 15px;

            .member-social {
              margin-top: 10px;

              .social-icon {
                font-size: 1.2rem;
                margin-right: 8px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #section-two-careers {
    height: unset;
    .main-container {
      height: 100%;
      background-color: #1a1a1a;
      padding: 80px 30px;

      .role-container {
        .card-container {
          padding-top: 30px;

          display: flex;
          align-items: center;
          justify-content: space-around;
          .career-card {
            margin: 8px 0;
          }
        }
      }
    }
  }
}
