#section-three-careers {
  background-color: #1a1a1a;
  color: var(--offWhiteColor);
  padding: 0 0 120px 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .main-container {
    // height: 100vh;
    padding: 60px 0;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .left {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-left: 60px;
      position: relative;

      .section-title {
        position: relative;
        z-index: 1;
      }

      .block {
        position: absolute;
        height: 350px;
        width: 125px;
        left: 0;
        background-color: #2a2a2a;
        z-index: 0;
      }

      .sub-info {
        z-index: 1;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: capitalize;

        .arrow {
          color: tomato;
          margin-left: 10px;
        }
      }

      .info-box {
        height: 115px;
        width: 95px;
        position: absolute;
        bottom: 20px;
        left: 60px;
        display: flex;
        align-items: center;
        justify-content: center;

        .box-left {
          position: absolute;
          right: -195px;
          color: var(--offWhiteColor);

          @media screen and (max-width: 390px) {
            width: 210px;
            right: -120px;
          }
        }

        .box-right {
          position: absolute;
          right: 30px;
          .arrow {
            font-size: 2.8rem;
            padding: 8px;

            border: 0.15rem solid tomato;
            border-radius: 100%;
          }
        }
      }
    }
    .right {
      width: 50%;
      height: 100%;
      background-color: var(--primaryColorDarkGrey);
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .turbo {
        position: absolute;
        height: 450px;
        opacity: 0.07;

        @media screen and (max-width: 1120px) {
          height: 400px;
        }

        @media screen and (max-width: 900px) {
          height: 340px;
        }

        @media screen and (max-width: 768px) {
          height: 340px;
        }
        @media screen and (max-width: 420px) {
          height: 320px;
        }
        @media screen and (max-width: 390px) {
          height: 280px;
        }
        @media screen and (max-width: 360px) {
          height: 260px;
        }
      }

      .info-box {
        height: 115px;
        width: 175px;
        position: absolute;
        bottom: 10px;
        left: 0px;
        display: flex;
        align-items: center;
        justify-content: center;

        .box-left {
          position: absolute;
          left: 60px;
          padding-right: 0px;

          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-end;
          width: 100%;
          color: var(--offWhiteColor);
        }

        .box-right {
          position: absolute;
          right: 60px;
          .arrow {
            font-size: 2.8rem;
            padding: 8px;
            border: 0.15rem solid tomato;
            border-radius: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #section-three-careers {
    // background-color: var(--secondaryColor);

    .main-container {
      height: auto;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .left {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding-left: 60px;
        position: relative;

        .block {
          position: absolute;
          height: 350px;
          width: 125px;
          left: 0;
        }
        .sub-info {
          z-index: 1;
          margin-top: 20px;
        }

        .div-box {
          height: 115px;
          width: 95px;
          position: absolute;
          bottom: 30px;
          left: 60px;
          display: flex;
          align-items: center;
          justify-content: center;

          .box-left {
            position: absolute;
            right: -195px;
          }

          .box-right {
            position: absolute;
            right: 30px;
            .arrow {
              font-size: 2.8rem;
              padding: 8px;
              border: 0.15rem solid tomato;
              border-radius: 100%;
            }
          }
        }
      }
      .right {
        width: 100%;
        height: 400px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .block {
          height: 50px;
          width: 100%;
          position: absolute;
          background-color: unset;

          .side-line {
            background-color: unset;
          }
        }

        .info-box {
          height: 115px;
          width: 175px;
          position: absolute;
          bottom: 10px;
          left: 0px;

          display: flex;
          align-items: center;
          justify-content: center;

          .box-left {
            position: absolute;
            left: 30px;
            padding-right: 0px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
            width: 100%;
          }

          .box-right {
            position: absolute;
            right: 60px;
            .arrow {
              font-size: 2.8rem;
              padding: 8px;
              border: 0.15rem solid tomato;
              border-radius: 100%;
            }
          }
        }
      }
    }
  }
}
